<link rel="stylesheet" href="/static/css/formSelects-v4.css">
<link rel="stylesheet" href="/static/layui/css/layui.css">
<!--公共CSS样式-->
<link rel="stylesheet" href="/static/css/public_style.css">
<script src='/static/javascript/public/jquery-2.1.1.min.js'></script>
<link href="/static/css/product.css" rel="stylesheet">
<link href="/static/css/public.css" rel="stylesheet">

<body style="margin: 0 10%">
<!--添加游客start-->
<div class="lay-visitor-add" style="width: 80%;height: 500px" >
    <fieldset class="layui-elem-field layui-field-title">
        <legend>基础信息</legend>
    </fieldset>
    <form class="layui-form" id="form1" onSubmit="return save()">
        <div id="visitor-message-other" class="visitor-message-other">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>状态:</label>
                        <div class="layui-input-block">
                            <select name="status" required >
                                {foreach $orderState as $kv=>$vl}
                                <option value="{$kv}" {$kv==$v.status?'selected':''}>{$vl}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>名:</label>
                        <div class="layui-input-block">
                            <input type="text" name="customer_last_name" placeholder="请输入" autocomplete="off" class="layui-input" value="{$v.customer_last_name}" lay-verify="required" required >
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>姓:</label>
                        <div class="layui-input-block">
                            <input type="text" name="customer_first_name" placeholder="请输入" autocomplete="off" class="layui-input" value="{$v.customer_first_name}" lay-verify="required" required >
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">英文名:</label>
                        <div class="layui-input-block">
                            <input type="text" name="english_last_name" placeholder="请输入" autocomplete="off" class="layui-input" value="{$v.english_last_name}">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">英文姓:</label>
                        <div class="layui-input-block">
                            <input type="text" name="english_first_name" placeholder="请输入" autocomplete="off" class="layui-input" value="{$v.english_first_name}">
                        </div>
                    </div>
                </div>

                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>证件类型:</label>
                        <div class="layui-input-block">
                            <select name="card_type" lay-verify="required" required >
                                <option value="1" {$v.card_type==1?'selected':''}>护照</option>
                                <option value="2" {$v.card_type==2?'selected':''}>身份证</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>证件号码:</label>
                        <div class="layui-input-block">
                            <input type="text" name="card_number" placeholder="请输入" autocomplete="off" class="layui-input" value="{$v.card_number}" lay-verify="required" required >
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">有效期:</label>
                        <div class="layui-input-block">
                            <input type="text" name="term_of_validity" placeholder="请输入" autocomplete="off" class="layui-input messageDate" value="{if $v.term_of_validity}{$v.term_of_validity|date='Y-m-d',###}{/if}">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>性别:</label>
                        <div class="layui-input-block">
                            <select name="gender" lay-verify="required" required >
                                <option value="1" {$v.gender==1?'selected':''}>男</option>
                                <option value="2" {$v.gender==2?'selected':''}>女</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>国籍:</label>
                        <div class="layui-input-block">
                            <!--<input type="text" name="messageInter" placeholder="请输入" autocomplete="off" class="layui-input">-->
                            <select name="country_id" lay-verify="required" lay-search required >
                                <option value=""></option>
                                {foreach $Country as $vc}
                                    <option value="{$vc.country_id}" {$vc.country_id==$v.country_id?'selected':''}>{$vc.country_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机:</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" placeholder="请输入" autocomplete="off" class="layui-input" value="{$v.phone}">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱:</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input" value="{$v.email}" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>类型:</label>
                        <div class="layui-input-block">
                            <select name="customer_type" lay-verify="required" required >
                                <option value=""></option>
                                {foreach $customer_type as $ky=>$vy}
\                               <option value="{$ky}" {$v.customer_type==$ky?'selected':''}>{$vy}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style="padding-right: 8px;color: red;font-size: 16px;vertical-align: middle;font-weight: bold;font-style: normal;">*</i>语言:</label>
                        <div class="layui-input-block">
                            <select name="language_id" lay-verify="required" lay-search required >
                                <option value=""></option>
                                {foreach $Language as $vl}
                                    <option value="{$vl.language_id}" {$vl.language_id==$v.language_id?'selected':''}>{$vl.language_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flightMessage" style="padding-bottom:30px;">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>航班信息</legend>
                </fieldset>
                <div id="flightList">
                {foreach $v.flight_info as $kf=>$vf}
                <div class="flightList" style="position: relative">
                    <hr>
                    <div class="layui-row layui-form">
                        <div class="layui-col-md4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">航班号:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="flight_code[{$kf}]" placeholder="请输入" class="layui-input" value="{$vf.flight_code}" >
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">接送机:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="flight_type[{$kf}]" value="1" title="接机" {$vf.flight_type==1?'checked':''} />
                                    <input type="radio" name="flight_type[{$kf}]" value="2" title="送机" {$vf.flight_type==2?'checked':''}/>
                                    <input type="radio" name="flight_type[{$kf}]" value="3" title="中转" {$vf.flight_type==3?'checked':''}/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row  layui-form">
                        <div class="layui-col-md4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">出发:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="start_place[{$kf}]" placeholder="请输入" class="layui-input" value="{$vf.start_place}" >
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">出发时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="flight_begin_time[{$kf}]" placeholder="yyyy-MM-dd HH:mm:ss"  class="layui-input flight_begin_time_{$kf}" value="<?=$vf['flight_begin_time']?date('Y-m-d H:i:s',$vf['flight_begin_time']):''?>" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row  layui-form">
                        <div class="layui-col-md4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">到达:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="end_place[{$kf}]" placeholder="请输入" class="layui-input" value="{$vf.end_place}" >
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">到达时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="flight_end_time[{$kf}]" placeholder="yyyy-MM-dd HH:mm:ss"  class="layui-input flight_end_time_{$kf}" value="<?=$vf['flight_end_time']?date('Y-m-d H:i:s',$vf['flight_end_time']):''?>" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="layui-icon layui-icon-close flight-list-close" onclick="flightListClose(this)"></i>
                </div>

                {/foreach}


                </div>
                <div class=" layui-flight-add">
                    <div class="layui-btn layui-btn-sm nav-add" onclick="flightAdd()">添加航班</div>
                </div>
            </div>
            <!--住宿信息-->
            <div  class="layui-row">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>住宿信息</legend>
            </fieldset>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">房号:</label>
                        <div class="layui-input-block">
                            <select name="room_code" lay-search>
                                <option></option>
                                 <?php for ($i=1;$i<=30;$i++){?>
                                    <option value="{$i}" {$v['accommodation_info'][0]['room_code']==$i?'selected':''} }>{$i}</option>
                                 <?php }?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">房型:</label>
                        <div class="layui-input-block">
                            <select name="room_type">
                                <option></option>
                                {foreach $room_type as $ky=>$vy}
                                <option value="{$ky}" {$v['accommodation_info'][0]['room_type']==$ky?'selected':''} >{$vy}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">入住:</label>
                        <div class="layui-input-block">
                            <!--<input type="number" id="check_in" name="check_in" placeholder="请输入数字"  class="layui-input" value="{$v['accommodation_info'][0]['check_in']}">-->
                            <select id="check_in" name="check_in" lay-filter="check_in">
                                <option value="-1" {$v['accommodation_info'][0]['check_in']==-1?'selected':''}>提前一天</option>
                                <option value="-2" {$v['accommodation_info'][0]['check_in']==-2?'selected':''}>提前二天</option>
                                <option value="-3" {$v['accommodation_info'][0]['check_in']==-3?'selected':''}>提前三天</option>
                                <option value="-4" {$v['accommodation_info'][0]['check_in']==-4?'selected':''}>提前四天</option>
                                <option value="-5" {$v['accommodation_info'][0]['check_in']==-5?'selected':''}>提前五天</option>
                                <option value="0" {$v['accommodation_info'][0]['check_in']==0?'selected':''}>无特殊要求</option>
                                <option value="1" {$v['accommodation_info'][0]['check_in']==1?'selected':''}>延后一天</option>
                                <option value="2" {$v['accommodation_info'][0]['check_in']==2?'selected':''}>延后二天</option>
                                <option value="3" {$v['accommodation_info'][0]['check_in']==3?'selected':''}>延后三天</option>
                                <option value="4" {$v['accommodation_info'][0]['check_in']==4?'selected':''}>延后四天</option>
                                <option value="5" {$v['accommodation_info'][0]['check_in']==5?'selected':''}>延后五天</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">退房:</label>
                        <div class="layui-input-block">
                            <!--<input type="number" id="check_on" name="check_on" placeholder="请输入数字" class="layui-input" value="{$v['accommodation_info'][0]['check_on']}">-->
                            <select  id="check_on" name="check_on" lay-filter="check_on">
                                <option value="-1" {$v['accommodation_info'][0]['check_on']==-1?'selected':''}>提前一天</option>
                                <option value="-2" {$v['accommodation_info'][0]['check_on']==-2?'selected':''}>提前二天</option>
                                <option value="-3" {$v['accommodation_info'][0]['check_on']==-3?'selected':''}>提前三天</option>
                                <option value="-4" {$v['accommodation_info'][0]['check_on']==-4?'selected':''}>提前四天</option>
                                <option value="-5" {$v['accommodation_info'][0]['check_on']==-5?'selected':''}>提前五天</option>
                                <option value="0" {$v['accommodation_info'][0]['check_on']==0?'selected':''}>无特殊要求</option>
                                <option value="1" {$v['accommodation_info'][0]['check_on']==1?'selected':''}>延后一天</option>
                                <option value="2" {$v['accommodation_info'][0]['check_on']==2?'selected':''}>延后二天</option>
                                <option value="3" {$v['accommodation_info'][0]['check_on']==3?'selected':''}>延后三天</option>
                                <option value="4" {$v['accommodation_info'][0]['check_on']==4?'selected':''}>延后四天</option>
                                <option value="5" {$v['accommodation_info'][0]['check_on']==5?'selected':''}>延后五天</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <?php $check_in = explode(',',$v['accommodation_info'][0]['check_in_hotel']);?>
                <?php $check_on = explode(',',$v['accommodation_info'][0]['check_on_hotel']);?>
                <div class="layui-row">
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn11" {if 0>$v['accommodation_info'][0]['check_in'] && $v['accommodation_info'][0]['check_in']<=-1}style=""{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">提前一天入住酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_in_hotel_name1" name="check_in_edit[1]" value="{$check_in[0]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="tt1" style=""></div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn21" {if $v['accommodation_info'][0]['check_on']!=0 && $v['accommodation_info'][0]['check_on']>=1}style=''{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">延后一天退房酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_on_hotel_name1" name="check_on_edit[1]" value="{$check_on[0]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn12" {if 0>$v['accommodation_info'][0]['check_in'] && $v['accommodation_info'][0]['check_in']<=-2}style=""{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">提前二天入住酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_in_hotel_name2" name="check_in_edit[2]" value="{$check_in[1]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="tt2" style=""></div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn22" {if $v['accommodation_info'][0]['check_on']!=0 && $v['accommodation_info'][0]['check_on']>=2}style=''{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">延后二天退房酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_on_hotel_name2" name="check_on_edit[2]" value="{$check_on[1]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn13" {if 0>$v['accommodation_info'][0]['check_in'] && $v['accommodation_info'][0]['check_in']<=-3}style=""{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">提前三天入住酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_in_hotel_name3" name="check_in_edit[3]" value="{$check_in[2]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="tt3" style=""></div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn23" {if $v['accommodation_info'][0]['check_on']!=0 && $v['accommodation_info'][0]['check_on']>=3}style=''{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">延后三天退房酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_on_hotel_name3" name="check_on_edit[3]" value="{$check_on[2]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn14" {if 0>$v['accommodation_info'][0]['check_in'] && $v['accommodation_info'][0]['check_in']<=-4}style=""{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">提前四天入住酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_in_hotel_name4" name="check_in_edit[4]" value="{$check_in[3]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="tt4" style=""></div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn24" {if $v['accommodation_info'][0]['check_on']!=0 && $v['accommodation_info'][0]['check_on']>=4}style=''{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">延后四天退房酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_on_hotel_name4" name="check_on_edit[4]" value="{$check_on[3]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn15" {if 0>$v['accommodation_info'][0]['check_in'] && $v['accommodation_info'][0]['check_in']<=-5}style=""{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">提前五天入住酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_in_hotel_name5" name="check_in_edit[5]" value="{$check_in[4]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="tt5" style=""></div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item" id="edit_hn25" {if $v['accommodation_info'][0]['check_on']!=0 && $v['accommodation_info'][0]['check_on']>=5}style=''{else/}style="display:none;"{/if}>
                            <label class="layui-form-label">延后五天退房酒店:</label>
                            <div class="layui-input-block">
                                <input type="text" id="edit_check_on_hotel_name5" name="check_on_edit[5]" value="{$check_on[4]}" placeholder="请输入" autocomplete="off" lay-verify="" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>


        </div></div>
        <br>
        <div class="layui-row" style="padding-bottom: 50px">
            <div class="layui-form-button" style="text-align: center">
                <button class="layui-btn nav-submit" >保存</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="visitorMessBack()">返回</button>
            </div>
        </div>
    </form>
</div>
<!--添加游客end-->
</body>

<div style="display: none" id="T-flight">

        <div class="flightList" style="position: relative;">
            <hr>
            <div class="layui-row layui-form">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">航班号:</label>
                        <div class="layui-input-block">
                            <input type="text" name="flight_code[ii]" placeholder="请输入" class="layui-input" >
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">接送机:</label>
                        <div class="layui-input-block">
                            <input type="radio" name="flight_type[ii]" value="1" title="接机" checked />
                            <input type="radio" name="flight_type[ii]" value="2" title="送机" />
                            <input type="radio" name="flight_type[ii]" value="3" title="中转" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row  layui-form">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">出发:</label>
                        <div class="layui-input-block">
                            <input type="text" name="start_place[ii]" placeholder="请输入" class="layui-input" >
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">出发时间:</label>
                        <div class="layui-input-block">
                            <input type="text" name="flight_begin_time[ii]" placeholder="yyyy-MM-dd HH:mm:ss"  class="layui-input flight_begin_time_ii" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row  layui-form">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">到达:</label>
                        <div class="layui-input-block">
                            <input type="text" name="end_place[ii]" placeholder="请输入" class="layui-input" >
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">到达时间:</label>
                        <div class="layui-input-block">
                            <input type="text" name="flight_end_time[ii]" placeholder="yyyy-MM-dd HH:mm:ss"  class="layui-input flight_end_time_ii" >
                        </div>
                    </div>
                </div>
            </div>
            <i class="layui-icon layui-icon-close flight-list-close" onclick="flightListClose(this)"></i>
        </div>
</div>


<script src="/static/layui/layui.all.js"></script>


<script>
    var transfer_time_sum = <?=count($v['flight_info'])>0?count($v['flight_info']):0;?>;
    var layer = layui.layer;
    var form = layui.form;
    var laydate = layui.laydate;
    var upload = layui.upload;
    var element = layui.element;
    var formSelects = layui.formSelects;
    !function() {

        $('.messageDate').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,type:'date'
//              ,lang: 'en'
            });
        });

        for(var ij=0;ij<transfer_time_sum;ij++){
            $('.flight_begin_time_'+ij).each(function(){
                laydate.render({
                    elem: this
                    ,trigger: 'click'
                    ,type:'datetime'
//              ,lang: 'en'
                });
            });
            $('.flight_end_time_'+ij).each(function(){
                laydate.render({
                    elem: this
                    ,trigger: 'click'
                    ,type:'datetime'
//              ,lang: 'en'
                });
            });
        }

        form.on('select(check_in)', function(data){
//            alert(data.value);
            for(var i=1;i<=5;i++){
                $('#edit_hn1'+i).attr('style','display: none;');
                $('#edit_check_in_hotel_name'+i).val('');
            }

            var inu = data.value*-1;
            for(var i=1;i<=inu;i++)
                $('#edit_hn1'+i).attr('style','');
        });

        form.on('select(check_on)', function(data){
//            alert(data.value);
            for(var i=1;i<=5;i++){
                $('#edit_hn2'+i).attr('style','display: none;');
                $('#edit_check_on_hotel_name'+i).val('');
            }

            var inu = data.value;
            for(var i=1;i<=inu;i++)
                $('#edit_hn2'+i).attr('style','');
        });

    }();

    function flightAdd(){
        var h = $('#T-flight').html();
        for(var ij=1;ij<25;ij++){
            h = h.replace('ii',transfer_time_sum);
        }
        $('#flightList').append(h);

        $('.flight_begin_time_'+transfer_time_sum).each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,type:'datetime'
//              ,lang: 'en'
            });
        });
        $('.flight_end_time_'+transfer_time_sum).each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,type:'datetime'
//              ,lang: 'en'
            });
        });
        form.render();
        transfer_time_sum++;
    }

    function visitorMessBack(){
        parent.openClose();
    }

    function flightListClose(obj) {
        $(obj).parent(".flightList").remove();
    }



    function save(){
        $.ajax({
            type: "POST",
            url: '/product/SavePlanBookingPassengerAjax?passengers_id={$_GET["passengers_id"]}&bookingId={$_GET["bookingId"]}',
            data: $('#form1').serializeArray(),
            success: function (data) {
                if(data.code!=200){
                    layer.msg(data.msg);
                    return false;
                }else if(data.code==200){
                    layer.msg('success',{time:1,end : function(layero, index){
                        parent.openClose();parent.location.reload();
                    }
                    });
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                //console.log(errorThrown)
                layer.msg('验证失败')

            }
        });
        return false;
    }


</script>