<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>团队产品-订单</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
			<span class="layui-breadcrumb" lay-separator="-">
                <a>{$Think.lang.index_public_homepage}</a>
                <a>{$Think.lang.index_public_product}</a>
				<a>{$Think.lang.index_product_ShowPlanTour_resources_teamProduct}</a>
                <a><cite>{$Think.lang.index_product_PlanBooking_order}</cite></a>
			</span>
            </div>
            <br/>
            <div class='layui-form-item'>
                <div class='layui-col-md9'>
                <font style="font-size: 20px;font-weight: bold">{$Think.lang.index_product_PlanBooking_teamOrder}({$_GET['number']})</font>&nbsp;&nbsp;&nbsp;
                    <!--总数：{}-->
                </div>
            </div>
            <br/>

            <form action="/product/PlanBooking " method="get" >
                <input type="hidden" name="plan_id" value="{$_GET['plan_id']}" />
                <input type="hidden" name="number" value="{$_GET['number']}" />
                <div class='layui-input-inline'>
                    <input type="text"   name="search_booking" value="{$_GET['search_booking']}"  placeholder="订单号" class="layui-input">
                </div>
                <div  class='layui-input-inline layui-form'>
                    <select name="search_company_id" lay-search   >
                        <option value="">{$Think.lang.index_product_PlanBooking_orderSource}</option>
                        {foreach $Company as $v}
                        {if $v.company_id!=1}
                        <option value="{$v.company_id}" {$_GET['search_company_id']==$v.company_id?'selected':''}>{$v.company_name}</option>
                        {/if}
                        {/foreach}
                    </select>
                </div>
                <!--<div class='layui-input-inline'>-->
                    <!--<input type="text"   name="search_visitor" value="{$_GET['search_visitor']}"  placeholder="游客" class="layui-input">-->
                <!--</div>-->
                <div class='layui-input-inline'>
                    <input type="text"   name="search_founder" value="{$_GET['search_founder']}"  placeholder="{$Think.lang.index_product_PlanBooking_orderCreator}" class="layui-input">
                </div>

                <div class='layui-input-inline'>
                    <button class="layui-btn nav-search">{$Think.lang.index_public_search}</button>
                    <!--<a href="/product/showshowPlanTourGuideReceipt?number={$_GET['number']}" class="layui-btn nav-add">导游回执单</a>-->
                    <a class="layui-btn fentuan nav-edit">分团</a>
                    <a class="layui-btn nav-add" href="/product/ShowPlanTour">{$Think.lang.index_public_history_back}</a>
                    <!--<a href="/product/clearPlanBooking" class="layui-btn layui-btn-primary">清除</a>-->
                </div>
            </form>
            <div class="table-nont">
                <table  class="layui-table layui-form" id="language-table">
                    <thead>
                    <tr>
                        <td><input type="checkbox" lay-skin="primary" lay-filter="CheckboxAll"></td>
                        <td>{$Think.lang.index_product_PlanBooking_orderNumber}</td>
                        <td>{$Think.lang.index_product_PlanBooking_orderSource}</td>
                         <td>{$Think.lang.index_product_PlanBooking_number}</td>
                        <td>{$Think.lang.index_branchcompany_showDistributorManage_lastOperateTime}</td>
                        <td>{$Think.lang.index_product_PlanBooking_orderCreator}</td>
                        <!--<td>状态</td>-->
                        <td>{$Think.lang.index_source_operation}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $order as $v}
                    <tr>
                        <td><input class="checkbox_id" type="checkbox" lay-skin="primary" value="{$v.company_order_number}" ></td>
                        <td>{$v.company_order_number}</td>
                        <td>{$v.company_name}</td>
                        <td>{$v.people_number|default=0}</td>
                        <td><?=date('Y-m-d H:i:s',$v['create_time']) ?></td>
                        <td>{$v.create_user_name}</td>
                        <!--<td>开启/取消/确认</td>-->
                        <td><a href="/product/PlanBookingInfo?bookingId={$v.company_order_number}&plan_id={$_GET['plan_id']}&number={$_GET['number']}"  class="layui-btn hover-details layui-btn-sm layui-btn-primary" >详情</a></td>
                    </tr>
                    {/foreach}




                    </tbody>
                </table>
            </div>


            </div>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}

<script id="T-FenTuan" type="text/html">
<form id="F-FenTuan"  class='layui-form'>
    <div class="table-nont">
        <table class="layui-table" style="width:80%;margin: 10px auto">
            <thead><tr><th>{$Think.lang.index_product_PlanBooking_orderNumber}</th></tr></thead>
            <tbody>
            <tr>
                <td>
                    {{# for(var i = 0, len = d.booking.length; i < len; i++){ }}
                    {{# if(i>0){ }},{{# } }}
                    {{d['booking'][i]}}
                    <input type="hidden" name="bookingId[]" value="{{d['booking'][i]}}"  />
                    {{# } }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div style="height: 150px">
    <div style="width:80%;margin: 10px auto;font-weight: bold">
        {$Think.lang.index_product_PlanBooking_moveToTeam}:
    </div>
    <div class="layui-row" style="width:80%;margin: 10px auto">
        <div class=" layui-col-md7">
            <input type="radio" name="r-fentuan" value="1" title="{$Think.lang.index_product_PlanBooking_subgroup}（{$Think.lang.index_product_PlanBooking_copyAndAdd}）" checked>
        </div>
    </div>
    <div style="width:80%;margin: 10px auto">
        <div class=" layui-col-md4">
            <input type="radio" name="r-fentuan" value="2" title="{$Think.lang.index_product_PlanBooking_moveTeam}">
        </div>
        <div class="layui-col-md5">
            <select>
                <option></option>
            </select>
        </div>
    </div>
    </div>
    <div style="text-align: center;margin-bottom: 10px">
        <a class="layui-btn layui-btn-primary cancel layui-btn-primary">{$Think.lang.index_public_cancel}</a>&nbsp;&nbsp;&nbsp; <a class="layui-btn layui-btn-normal confirm nav-submit">{$Think.lang.index_public_ok}</a>
    </div>
</form>
</script>


<script>
    //JavaScript代码区域
    !function(){
        var layer = layui.layer ;
        var form = layui.form;
        var laydate = layui.laydate;
        var table=layui.table;
        var laytpl=layui.laytpl;

        form.on('checkbox(CheckboxAll)', function(data){
            var child = $(data.elem).parents('thead').siblings("tbody").find('td input[type="checkbox"]');
            child.each(function(index, item){
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

        $('.fentuan').on('click',function(){
            var newQ = new Array();
            $('.checkbox_id').each(function(index,item){
                if (item.checked == true) {
                    newQ.push(item.value);
                }
            });
            if(newQ.length<=0){
                layer.msg('{$Think.lang.index_product_PlanBooking_placeSelect}');
                return;
            }

            layer.load(2);
            $.post('/product/PlanSubgroupAjax',{'newQ':newQ},function(a){
                layer.closeAll('loading'); //关闭loading
                if(a.code==400){
                    layer.msg('{$Think.lang.index_product_PlanBooking_placeSelect}');
                    return;
                }

                var html = $('#T-FenTuan').html();
                laytpl(html).render(a.data, function(htmll){
                    layer.open({
                        title:'',
                        type: 1,
                        area: ['50%','auto'],
                        content: htmll //这里content是一个普通的String
                    });
                });
                form.render();

                //取消
                $('.cancel').on('click',function(){
                    layer.closeAll();
                });

                //确认
                $('.confirm').on('click',function(){
                    layer.load(2);
                    $.post('/product/ConfirmPlanSubgroupAjax',$('#F-FenTuan').serializeArray(),function(a){
                        layer.closeAll('loading'); //关闭loading
                        if(a.code==400){
                            layer.msg('{$Think.lang.index_public_verificationFailures}');
                        }else{
                            layer.msg('{$Think.lang.index_public_success}',{time:1});
                            layer.closeAll();
                        }
                        return;
                    },'json');
                });


            },'json');
        });

    }();

</script>
</body>
</html>

<script>


</script>