<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>添加线路模板</title>
    <style>
        .text_align {
            text-align: right;
            padding-right: 20px;
            vertical-align:middle;
            line-height: 38px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-row'>
                <span class="layui-breadcrumb" lay-separator="-">
                    <a>首页</a>
                    <a>产品</a>
                    <a>线路模板</a>
                    <a>添加线路模板</a>
                </span>
            </div>

            <form class="layui-form" id="form1" onsubmit="return submit_add()">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id='tab_ul'>
                        <li class="layui-this">基本信息</li>

                        <li style="display:none">行程内容</li>
                        <li style="display:none">资源配置</li>
                    </ul>
                    <div class="layui-tab-content">
                        <!--基本信息-->
                        <div class="layui-tab-item layui-show">

                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color:red;">*</span>&nbsp;线路模板名称:</label>
                                <div class="layui-input-block">
                                    <input id="route_name" name="" required="required" lay-verify="required" placeholder="请输入团名称" autocomplete="off" class="layui-input" type="text">
                                 </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">线路类型:</label>
                                <div class="layui-input-inline">
                                    <select name="route_type_id" id='route_type_id' lay-verify="required">
                                        <option value=""></option>
                                         <optgroup label='华人团'>
                                                 {foreach name='route_type_data_chinese_result'  item='vo'}
                                                <option value="{$vo.route_type_id}">{$vo.route_type_name}</option>
                                                {/foreach}
                                            </optgroup>
                                            <optgroup label='老外团'>
                                                 {foreach name='route_type_data_foreigner_result'  item='vo'}
                                                <option value="{$vo.route_type_id}">{$vo.route_type_name}</option>
                                                {/foreach}
                                            </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">状态:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="type" value="1" title="启用" checked="checked">
                                    <input type="radio" name="type" value="0" title="禁用">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">负责人:</label>
                                <div class="layui-input-inline">
                                    <select name="route_type_id" id='route_user_id' lay-verify="required">
                                        <option value=""></option>
                                        {foreach name='user_data_result'  item='vo'}
                                        <option value="{$vo.user_id}" {if condition="$vo.user_id eq $Think.session.user.user_id"}selected{/if} >{$vo.nickname}</option>
                                        {/foreach}

                                    </select>
                                </div>
                            </div>
                            <div class="layui-row">
			                    <div class="layui-input-block">
			                        <button class="layui-btn" lay-submit="" lay-filter="formDemo" id="submit_route_template">立即提交
			                        </button>
                                    <input type="hidden" id="route_template_id" value="">
			                        <a href="javascript:location.reload()" class="layui-btn layui-btn-primary">重置</a>
			                        <a href="javascript:history.back(-1)">
			                            <button type="button" class="layui-btn layui-btn-primary">返回</button>
			                        </a>
			                    </div>
               				 </div>
                        </div>
                        <!--行程内容-->
                        <div class="layui-tab-item">
                            <div class="layui-collapse" lay-accordion>
                                <!--<div class="layui-colla-item">-->
                                    <!--<h2 class="layui-colla-title">航班信息</h2>-->
                                    <!--<div class="layui-colla-content layui-show"  >-->
                                        <!--<div><a class="layui-btn" id="add_transfer">添加</a></div>-->
                                        <!--<div class="d_transfer">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">行程信息</h2>
                                    <div class="layui-colla-content layui-show"  >
                                        <div class="layui-row">
                                            <!--<div><a class="layui-btn" id="add_journey">添加</a></div>-->
                                            <div class="layui-col-md2 text_align">行程天数</div>
                                            <div class="layui-col-md6">
                                                <div class="layui-form-item">
                                                    <input id="journey-days" type="text" class="layui-input"   name="" style="width: 50px" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d_journey">

                                        </div>
                                        <div class="layui-row">
                             </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--资源配置-->
                        <div class="layui-tab-item">
                            <table class="layui-table" id="language-table">
                                <thead>
                                    <tr>
                                        <th>资源项目</th>
                                        <th>资源配置状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>酒店</th>
                                        <th>未设置</th>
                                        <th><a  href="javascript:void(0)"  key_url='/product/showRouteHotelAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th>用餐</th>
                                        <th>未设置</th>
                                         <th><a  href="javascript:void(0)"  key_url='/product/showRouteDiningAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th>航班</th>
                                        <th>未设置</th>
                                         <th><a  href="javascript:void(0)"  key_url='/product/showRouteFlightAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th>邮轮</th>
                                        <th>未设置</th>
                                         <th><a  href="javascript:void(0)"  key_url='/product/showRouteCruiseAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th>签证</th>
                                         <th>未设置</th>
                                         <th><a  href="javascript:void(0)"  key_url='/product/showRouteVisaAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th>景点</th>
                                        <th>未设置</th>
                                         <th><a  href="javascript:void(0)"  key_url='/product/showRouteScenicSpotAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th>车辆</th>
                                        <th>未设置</th>
                                         <th><a  href="javascript:void(0)"  key_url='/product/showRouteVehicleAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>导游</th>
                                        <th>未设置</th>
                                        <th><a  href="javascript:void(0)"  key_url='/product/showRouteTourGuideAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>单项资源</th>
                                        <th>未设置</th>
                                        <th><a  href="javascript:void(0)"  key_url='/product/showRouteSingleSourceAdd' class="layui-btn layui-btn-sm to_add_source">&nbsp;配置资源&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;查看配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;修改配置&nbsp;</a>
                                        <a href=""  class="layui-btn layui-btn-sm holte" style="display: none">&nbsp;删除配置&nbsp;</a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br><br><br>


            </form>
        </div>
    </div>
    <!--航班模板-->
    <div id="t_transfer" style="display: none">
        <div  style="border: 1px solid #e8e6e6;padding: 10px;margin-top: 10px;">
        <div  class="layui-row">
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">航班号</label>
                    <div class="layui-input-block">
                        <input type="text" id="flight_number_ii" class="layui-input" name="flight_number[ii]" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">第几天</label>
                    <div class="layui-input-block">
                        <input type="text"  id="the_days_ii" class="layui-input" name="" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-form-item" id="flight">
                    <label class="layui-form-label">接送机</label>
                    <div class="layui-input-block">
                        <input type="radio" name="flight_type_ii" value="1" title="接机" checked>
                        <input type="radio" name="flight_type_ii" value="2" title="送机"  >
                    </div>
                </div>
            </div>
        <div class="layui-row">
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">出发地</label>
                    <div class="layui-input-block">
                        <input type="text" id="start_city_ii" class="layui-input" name="fight_start_city[ii]" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">驶出时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="start_time_ii" class="layui-input fight_time_ii" name="fight_start_time[ii]" placeholder="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">目的地</label>
                    <div class="layui-input-block">
                        <input type="text"  id="end_city_ii" class="layui-input " name="fight_end_city[ii]"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">到达时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="end_time_ii" class="layui-input fight_time_ii" name="end_time[ii]" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="layui-row">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="formDemo" onclick="submit_flight_template(ii)" >立即提交
                        </button>

                    </div>
            </div>
        </div>
        <input type="hidden" id="fight-the-days-ii" name="fight_the_days[ii]">
        <div>
        	<button type="button" class="layui-btn layui-btn-primary r_transfer"  >删除</button>
        </div>
        </div>
    </div>

<!--行程信息模板-->
    <div id="t_journey" style="display: none">
        <div id="day-journey-ii" style="border: 1px solid #e8e6e6;padding: 10px;margin-top: 10px;">
            <div class="layui-row">
                <div class="layui-col-md2">DAY ii</div>
                <input type="hidden" id="journey_the_days" name="journey_the_days" value="ii" />
            </div>
            <h2 class="layui-colla-title">航班信息</h2>
            <div class="layui-colla-content layui-show"  >
                <div><a class="layui-btn add_transfer"   data-id="ii">添加</a></div>
                <div class="d_transfer_ii">
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">行程标题</div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <input type="text" id="route_journey_title" class="layui-input"  name="journey_title[ii]">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">行程内容</div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <textarea class="layui-textarea" id="route_journey_content" name="journey_content[ii]"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">交通</div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <input type="text" class="layui-input" id="route_journey_traffic"  name="journey_traffic[ii]">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">住宿</div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <input type="text" class="layui-input"  id="route_journey_stay" name="journey_stay[ii]">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">用餐</div>
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="layui-form-item">
                            <div class="layui-col-md2"><input type="checkbox"  name="eat_mark[ii][]" title="早餐" lay-skin="primary" ></div>
                            <div class="layui-col-md8"><input type="text" id="route_journey_breakfast" class="layui-input"  name="journey_breakfast[ii]"></div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-form-item">
                            <div class="layui-col-md2"><input type="checkbox" name="eat_mark[ii][]" title="午餐" lay-skin="primary" ></div>
                            <div class="layui-col-md8"><input type="text" id="route_journey_lunch" class="layui-input"  name="journey_lunch[ii]"></div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-form-item">
                            <div class="layui-col-md2"><input type="checkbox" name="eat_mark[ii][]" title="晚餐" lay-skin="primary" ></div>
                            <div class="layui-col-md8"><input type="text" id="route_journey_dinner" class="layui-input"  name="journey_dinner[ii]"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">景点</div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <input type="text" class="layui-input"  id="route_journey_scenic_sport" name="journey_scenic_sport[ii]">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">行程图片</div>
                <div class="layui-col-md8">
                    <div class="layui-form-item route_journey_picture">
                        <button type="button" class="layui-btn" id="journey-picture-ii">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div id="u-img-ii" style="padding: 10px">

                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md2 text_align">备注</div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <textarea class="layui-textarea" id="route_journey_remark"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="formDemo" onclick="submit_journey_template();">立即提交
                        </button>
                        <a href="javascript:location.reload()" class="layui-btn layui-btn-primary">重置</a>
                        <a href="javascript:history.back(-1)">
                        <button type="button" class="layui-btn layui-btn-primary">返回</button>
                        </a>
                    </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}


<script>
    !function() {
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var route_template_id;
        //阻止点击事件，在没获得ID的情况下
		$('.removeClick').click(function(){
			return false;
		})


        //航班信息
        var transfer_ii = 0;

        $('.d_transfer').delegate('.r_transfer','click',function(){
            $(this).parent().parent().remove();
        });


        var sdays=1; //当前第几天
        //行程列表加载
        $('#journey-days').on('blur',function(){
            var journeyDays = $('#journey-days').val();
            for(var i=sdays;i<=journeyDays;i++){
               var html = $('#t_journey').html();
               for(var j=1;j<30;j++){
                   html = html.replace('ii',i);
               }
              $('.d_journey').append(html);
                form.render(); //重新渲染
                //图片上传
                var uploadInst = upload.render({
                    elem: '#journey-picture-'+i //绑定元素
                    ,url: '/upload/uploadFile?day='+i, //上传接口
                    multiple:'true',
                    drag:'true'
                    ,acceptMime:'image/*'
                    ,accept:'images'
                    ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                        layer.load(2); //上传loading
                    }
                    ,done: function(res){
                        //上传完毕回调
                        console.log(res);
                        layer.closeAll('loading'); //关闭loading
                        if(res.code == 200){
                            var h = '<div style="padding: 5px;width: 110px;float: left"><div><img src="'+res.data+'" height="100" width="100" /><input type="hidden" value="'+res.data+'" name="journey_picture['+res.get.day+'][]" /></div><div><a class="layui-btn layui-btn-danger r-journey-img">删除</a></div></div>';
                            $('#u-img-'+res.get.day).append(h);
                        }
                    }
                    ,error: function(res){
                        //请求异常回调
                        console.log(res);
                        layer.closeAll('loading'); //关闭loading
                    }
                });
            }
             sdays = i-1;
            is_days=1;

        });
        //行程中添加航班
        $('.d_journey').delegate('.add_transfer','click',function(){
            var day_id = $(this).data('id');
//            alert(day_id);
            var html = $('#t_transfer').html();
            for(var j=1;j<1000;j++){
                html = html.replace('ii',transfer_ii);
            }
            $('.d_transfer_'+day_id).append(html);
            $('fight-the-days-'+transfer_ii).val(day_id);
            //航班日期渲染
            $('.fight_time_'+transfer_ii).each(function(){
                laydate.render({
                    elem: this
                    ,trigger: 'click'
                    ,type:'datetime'

                });
            });
            form.render();
            transfer_ii++;
        });
        //删除图片
        $('.d_journey').delegate('.r-journey-img','click',function(){
            $(this).parent().parent().remove();
        });
         $('.d_journey').delegate('.r_transfer','click',function(){
            $(this).parent().parent().remove();
        });


    }();

    function inArray(needle, haystack) {
        var length = haystack.length;
        for (var i = 0; i < length; i++) {
            if (haystack[i] == needle) {
                return true;
            }
        }
        return false;
    }
    //组织提交
	function submit_add(){
		return false;
	}

    //提交
    $('#submit_route_template').click(function(){
    	var route_name = $('#route_name').val();
    	var route_type_id = $('#route_type_id').val();
    	var  status = $('input:radio[name="type"]:checked').val();
    	var route_user_id = $('#route_user_id').val();
    	data = {route_name:route_name,route_type_id:route_type_id,status:status,route_user_id:route_user_id}
        $.ajax({
            type: "post",
            url: "/product/addRouteTemplateAjax",
            data: data,
            dataType: "json",
            success: function(data){
            	console.log(data)

            	if(data.code!=200){
            		layer.msg(data.msg)
            		return false;
            	}else if(data.code==200){
					layer.msg('操作成功',{time:1})
					route_template_id = data.data
                    location.href='/product/showRouteTemplateEdit?route_template_id='+route_template_id;
					return false;
					//拿到 ID之后放开后续 2个TAB页面
					//$('#tab_ul').children('li').show()
            	}

           },
           error:function(XMLHttpRequest, textStatus, errorThrown){
        	   layer.msg('验证失败')
           }
        });
    })
    //新增行程信息提交
   // $('#submit_journey_template').on('click',function(){

   //  });
    // 新增行程航班提交
     // $('#submit_flight_template').click(function(){

	$('.to_add_source').click(function(){
		var key_url = $(this).attr('key_url');
		location.href=key_url+'?route_template_id='+route_template_id


	})

    //行程
    function submit_journey_template(){
        var the_days = $('#journey_the_days').val();
        var route_template_id =  $("#route_template_id").val();
        var route_journey_title = $('#route_journey_title').val();
        var route_journey_content = $('#route_journey_content').val();
        var route_journey_traffic = $('#route_journey_traffic').val();
        var route_journey_stay = $('#route_journey_stay').val();
        var route_journey_breakfast = $('#route_journey_breakfast').val();
        var route_journey_dinner = $('#route_journey_dinner').val();
        var route_journey_scenic_sport = $('#route_journey_scenic_sport').val();
        var route_journey_picture = $("div.route_journey_picture").attr("src");
        var eat_mark= $('input[type=checkbox]:checked').length;
        var route_journey_remark = $('#route_journey_remark').val();
        var status = 1,
        data = {the_days:the_days,route_template_id:route_template_id,route_journey_title:route_journey_title,route_journey_content:route_journey_content,route_journey_traffic:route_journey_traffic,route_journey_stay:route_journey_stay,route_journey_breakfast:route_journey_breakfast,route_journey_dinner:route_journey_dinner,route_journey_scenic_sport:route_journey_scenic_sport,route_journey_picture:route_journey_picture,eat_mark:eat_mark,route_journey_remark:route_journey_remark,status:status}
        $.ajax({
            type: "post",
            url: "/product/addRouteJourneyAjax",
            data: data,
            dataType: "json",
            success: function(data){
                console.log(data)

                if(data.code!=200){
                    layer.msg(data.msg)
                    return false;
                }else if(data.code==200){
                    layer.msg('操作成功',{time:1})
                    // route_template_id = data.data
                    //拿到 ID之后放开后续 2个TAB页面
                    // $('#tab_ul').children('li').show()
                }

           },
           error:function(XMLHttpRequest, textStatus, errorThrown){
               layer.msg('验证失败')
           }
        });
    }
     //航班
     function submit_flight_template(ii){
        var route_template_id = $('#route_template_id').val();
        var the_days = $('#the_days_'+ii).val();
        var start_city = $('#start_city_'+ii).val();
        var end_city = $('#end_city_'+ii).val();
        var start_time = $('#start_time_'+ii).val();
        var end_time = $('#end_time_'+ii).val();
        var flight_number = $('#flight_number_'+ii).val();
        var status = 1;
        var flight_type = $('input:radio[name="flight_type_'+ii+'"]:checked').val();
        data = {the_days:the_days,start_city:start_city,end_city:end_city,start_time:start_time,end_time:end_time,
            flight_number:flight_number,flight_type:flight_type,status:status,route_template_id:route_template_id}
        $.ajax({
            type: "post",
            url: "/product/addRouteFlightAjax",
            data: data,
            dataType: "json",
            success: function(data){
                console.log(data)

                if(data.code!=200){
                    layer.msg(data.msg)
                    return false;
                }else if(data.code==200){
                    layer.msg('操作成功',{time:1})

                    // route_template_id = data.data
                    //拿到 ID之后放开后续 2个TAB页面
                    // $('#tab_ul').children('li').show()
                }

           },
           error:function(XMLHttpRequest, textStatus, errorThrown){
               layer.msg('验证失败')
           }
        });
    }
</script>

</body>
</html>
