<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>language-manage-add</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
                   <a>{$language_tag.index_public_homepage}</a>
                    <a>{$language_tag.index_source_showSingleSourceManage_source_administrate}</a>
                    <a>{$language_tag.index_source_showSingleSourceManage_single_source_administrate}</a>
                    <a>{$language_tag.index_source_showSingleSourceSource_all_source}</a>
					<a><cite>{$language_tag.index_public_language}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <div class="layui-row">
                <form class="layui-form layui-col-md4" onSubmit="return single_source_edit_language()">
                    {volist name='language_result' id='v'}
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$v.language_name}{$language_tag.index_source_showSingleSourceSource_single_source_name}:</label>
                        <div class="layui-input-block layui-form" >
                            <input  class="layui-input edit_language" name="country_code" single_source_language_id='{$v.language_info.single_source_language_id}'  lang_id='{$v.language_id}' placeholder="{$language_tag.index_source_showFlightSourceManage_input_name}" autocomplete="off"  type="text" value="{$v.language_info.single_source_name}">

                        </div>
                    </div>
                    {/volist}

                    <input type='hidden' value="{$Think.get.source_number}" id='source_number' />
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="single_source_edit_button">{$language_tag.index_public_submit}</button>
                            <a href='/source/showSingleSourceSource?supplier_id={$single_source_result.supplier_id}'><button type="button" class="layui-btn layui-btn-primary">{$language_tag.index_public_back}</button></a>
                            <input type="hidden" id="single_source_hidden_single_source_id" value="{$single_source_result.single_source_id}">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/system/source.js'></script>
</body>
</html>
