<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>{$supplierName}{$language_tag.index_source_showVehicleSourceManage_vehicle_source}</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
			<span class="layui-breadcrumb" lay-separator="-">
                <a>{$language_tag.index_public_homepage}</a>
                <a>{$language_tag.index_source_showVehicleManage_source_administrate}</a>
				<a>{$language_tag.index_source_showVehicleManage_vehicle_administrate}</a>
                <a><cite>{$language_tag.index_source_showVehicleSourceManage_look_source}</cite></a>
			</span>
            </div>
            <br/>
            <div class="layui-block input-inline">
                <form action="/source/setVehicleSourceManage?id={$_GET['id']}"  method="post">
                    <div class='layui-input-inline'>
                        <div class="layui-form">
                            <select  id="search_status" name="search_status">
                                <option value="0" {$setVehicleSourceManage.search_status==0?'selected':''}>-{$language_tag.index_source_showVehicleManage_search_status}-</option>
                                <option value="1" selected>{$language_tag.index_public_show}</option>
                                <option value="2" {$setVehicleSourceManage.search_status==2?'selected':''}>{$language_tag.index_public_disabled}</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class='layui-input-inline'>-->
                    <!--<input type="text" id="search_ID" name="search_ID" value="{$setVehicleSourceManage.search_ID}"  placeholder="ID" class="layui-input">-->
                    <!--</div>-->
                    <div class='layui-inline' >
                        <div class='layui-input-inline'>
                            <input type="text" id="search_Name" name="search_Name" value="{$setVehicleSourceManage.search_Name}"  placeholder="{$language_tag.index_source_showVehicleSourceManage_vehicle_name}" class="layui-input">
                        </div>
                        <!--<div class='layui-input-inline'>-->
                        <!--<input type="text" id="search_Operator" name="search_Operator" value=""  placeholder="操作人" class="layui-input">-->
                        <!--</div>-->
                        <div class='layui-button-inline layui-search-inline'>
                            <button class="layui-btn nav-search"  >{$language_tag.index_public_search}</button>
                            <!--<a href="/source/clearVehicleSourceManage?id={$_GET['id']}" class="layui-btn layui-btn-primary">清除</a>-->
                        </div>
                    </div>
                </form>
                <div class='layui-button-inline'>
                    <span style="{:action('index/auth/check_auth',['role_id'=>'207'])}"><a href='/source/showVehicleSourceAdd?id={$_GET["id"]}'><button class="layui-btn nav-add">{$language_tag.index_source_showVehicleSourceManage_add_source}</button></a></span>
                    <a href='/source/showVehicleManage'><button class="layui-btn nav-add">{$language_tag.index_public_history_back}</button></a>
                </div>
            </div>
            <table class="layui-table" id="language-table">
                <thead>
                <tr>
                    <th>{$language_tag.index_source_showVehicleManage_id}</th>
                    <th>{$language_tag.index_source_showVehicleManage_supplier_name}</th>
                    <th>{$language_tag.index_source_showVehicleSourceManage_vehicle_name}</th>
                    <th>{$language_tag.index_source_showVehicleSourceManage_driver_name}</th>
                    <th>{$language_tag.index_source_showVehicleSourceManage_vehicle_number}</th>
                    <th>{$language_tag.index_source_showVehicleSourceManage_vehicle_load}</th>
                    <th>{$language_tag.index_public_status}</th>
                    <!--<th>最后操作时间</th>-->
                    <!--<th>操作人</th>-->
                    <th class="layui-table-width">{$language_tag.index_source_operation}</th>
                </tr>
                </thead>
                    <tbody>
                    {foreach name="data" item="vo" }
                    <tr>
                        <th>{$vo.vehicle_id}</th>
                        <th>{$MultilingualAll['supplier-supplier_name-'.$vo.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.supplier_name}</th>
                        <th>{$MultilingualAll['vehicle-vehicle_name-'.$vo.vehicle_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.vehicle_name}</th>
                        <th>{$vo.driver_name}</th>
                        <th>{$vo.vehicle_number}</th>
                        <th>{$vo.load}</th>
                        <th>{if condition="$vo.status==1"}{$language_tag.index_public_show}{else/}{$language_tag.index_public_disabled}{/if}</th>
                        <!--<th><?=date("Y-m-d H:i:s", strtotime("0 hour",$vo['update_time']))?></th>-->
                        <!--<th>{$vo.create_user_name}</th>-->
                        <th>
                            {if condition="$vo.company_id eq $Think.session.user.company_id"}
                            <span style="{:action('index/auth/check_auth',['role_id'=>'208'])}"><a href='/source/showVehicleSourceEdit?id={$vo.vehicle_id}'><button class="layui-btn layui-btn-sm hover-edit layui-btn-primary">{$language_tag.index_public_update}</button></a></span>
                            {/if}
                            <span style="{:action('index/auth/check_auth',['role_id'=>'209'])}"><a href='/source/showVehicleSourceInfo?id={$vo.vehicle_id}'><button class="layui-btn layui-btn-sm hover-details layui-btn-primary">{$language_tag.index_public_info}</button></a></span>
                            <!--<a href='/source/showVehicleSpotEditLanguage?source_number={$vo.source_number}'><button class="layui-btn layui-btn-sm hover-polylingual layui-btn-primary">{$language_tag.index_public_language}</button></a>-->
                        </th>
                    </tr>
                    {/foreach}
                    </tbody>

                </table>
            <div class="listButtom">
                {include file='public/page' /}
            </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script>
    //JavaScript代码区域


</script>
</body>
</html>

<script>
    $(function(){
        var layer = layui.layer  ,form = layui.form;


    });
</script>