<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>{$supplierName}{$language_tag.index_source_showCruisesSourceInfo_car_source_info}</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
                     <a>{$language_tag.index_public_homepage}</a>
                    <a>{$language_tag.index_source_showVehicleManage_source_administrate}</a>
				    <a>{$language_tag.index_source_showVehicleManage_vehicle_administrate}</a>
                    <a>{$language_tag.index_source_showVehicleSourceManage_vehicle_source}</a>
					<a><cite>{$language_tag.index_source_showVehicleSourceManage_info_scenicspot}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <form class="layui-form all-detail" id="form1" onSubmit="return edit()">

                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_public_supplier}:</label>
                        <div class="layui-input-block all-select">
                           {$MultilingualAll['supplier-supplier_name-'.$VehicleAr.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$VehicleAr.supplier_name}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_public_status}:</label>
                        <div class="layui-input-block all-select">
                            <select id="status" name="status" disabled >
                                <option> </option>
                                <option value="1" {$VehicleAr.status==1?'selected':''} >{$language_tag.index_public_show}</option>
                                <option value="2" {$VehicleAr.status==2?'selected':''} >{$language_tag.index_public_disabled}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_source_showVehicleSourceManage_driver_name}:</label>
                        <div class="layui-input-block">
                            {$VehicleAr.driver_name}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_source_showVehicleSourceManage_vehicle_phone}:</label>
                        <div class="layui-input-block">
                            {$VehicleAr.phone}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_source_showVehicleSourceManage_driver_number}:</label>
                        <div class="layui-input-block">
                            {$VehicleAr.driver_number}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_source_showVehicleSourceManage_vehicle_name}:</label>
                        <div class="layui-input-block">
                            {$VehicleAr.vehicle_name}
                            <i class="iconfont icon-fanyifuwu" style="position: absolute;width: 38px;height: 38px;top: 0px;right: 200px;font-size:
                                30px;cursor:pointer;"onclick="MultilingualSetting('edit_vehicle_name','vehicle','vehicle_name',{$_GET['id']})"></i>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_source_showVehicleSourceManage_vehicle_number}:</label>
                        <div class="layui-input-block">
                            {$VehicleAr.vehicle_number}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_source_showVehicleSourceManage_vehicle_load}:</label>
                        <div class="layui-input-block">
                            {$VehicleAr.load}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_public_company}:</label>
                        <div class="layui-input-block">
                            {$MultilingualAll['company-company_name-'.$VehicleAr.company_id.'-'.$Think.session.user.language_id][0]['translate']|default=$VehicleAr.company_name}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_source_showVehicleSourceManage_payment_currency_type}:</label>
                        <div class="layui-input-block all-select">
                            <select name="payment_currency_type" id="payment_currency_type" lay-verify="required" disabled>
                                {foreach name='currency_data_result'  item='vo'}
                                <option  value="{$vo.currency_id}" {if condition="$vo.currency_id eq  $VehicleAr.payment_currency_type"} selected='selected'{/if}>{$MultilingualAll['currency-currency_name-'.$vo.currency_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.currency_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-col-md9">-->
                        <!--<label class="layui-form-label">{$language_tag.index_public_mark}:</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<textarea disabled name="remark"   class="layui-textarea" required lay-verify="required">{$VehicleAr.remark}</textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_public_price}:</label>
                        <div class="layui-input-block">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{$language_tag.index_public_type_price}</th>
                                    <th>{$language_tag.index_public_costprice}</th>
                                    <th>{$language_tag.index_public_settlementprice}</th>
                                    <!--<th>零售价</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>{$language_tag.index_public_count_price}:</th>
                                    <th class="all-select"><input disabled value="{$VehicleAr.normal_price}" name="normal_price" id="normal_price" class="layui-input" required lay-verify="required|number"/></th>
                                    <th class="all-select"><input disabled value="{$VehicleAr.normal_settlement_price}" name="normal_settlement_price" id="normal_settlement_price" class="layui-input" required lay-verify="required|number"/></th>
                                    <!--<th><input disabled value="{$VehicleAr.normal_retail_price}" name="normal_retail_price" id="normal_retail_price" class="layui-input" required lay-verify="required|number"/></th>-->
                                </tr>
                                <!--<tr>-->
                                    <!--<th>成人:</th>-->
                                    <!--<th><input disabled value="{$VehicleAr.adult_settlement_price}" name="adult_settlement_price" id="adult_settlement_price" class="layui-input" /></th>-->
                                    <!--<th><input disabled value="{$VehicleAr.adult_price}" name="adult_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input disabled value="{$VehicleAr.adult_retail_price}" name="adult_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>占床儿童:</th>-->
                                    <!--<th><input disabled value="{$VehicleAr.child_bed_settlement_price}" name="child_bed_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input disabled value="{$VehicleAr.child_bed_price}" name="child_bed_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input disabled value="{$VehicleAr.child_bed_retail_price}" name="child_bed_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>老人:</th>-->
                                    <!--<th><input disabled value="{$VehicleAr.old_settlement_price}" name="old_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input disabled value="{$VehicleAr.old_price}" name="old_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input disabled value="{$VehicleAr.old_retail_price}" name="old_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>不占床儿童:</th>-->
                                    <!--<th><input disabled value="{$VehicleAr.child_settlement_price}" name="child_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input disabled value="{$VehicleAr.child_price}" name="child_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input disabled value="{$VehicleAr.child_retail_price}" name="child_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>单房差:</th>-->
                                    <!--<th><input disabled value="{$VehicleAr.single_settlement_price}" name="single_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input disabled value="{$VehicleAr.single_price}" name="single_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input disabled value="{$VehicleAr.single_retail_price}" name="single_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <!--<div class="layui-form-item">-->
                <!--<div class="layui-col-md9">-->
                <!--<label class="layui-form-label">说明:</label>-->
                <!--<div class="layui-input-block">-->
                <!--<textarea name=""  class="layui-textarea"></textarea>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <br>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a href="javascript:history.back(-1)"><button type="button" class="layui-btn layui-btn-primary">{$language_tag.index_public_back}</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}


<script>
    $(function(){


    });
    function edit() {
        $.ajax({
            type: "POST",
            url: '/source/editVehicleSourceAjax?id={$_GET["id"]}',
            data: $('#form1').serializeArray(),
            success: function (data) {
                if(data.code!=200){
                    layer.msg(data.msg)
                    return false;
                }else if(data.code==200){
                    layer.msg('操作成功',{time:1,end : function(layero, index){
                            history.back(-1);
                        }
                    });
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                //console.log(errorThrown)
                layer.msg('验证失败');
            }
        });
        return false;
    }


</script>

</body>
</html>
