<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>{$supplierName}{$language_tag.index_source_showVisaEditLanguage_visa_source_edit}</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$language_tag.index_public_homepage}</a>
                    <a>{$language_tag.index_source_showVisaManage_source_administrate}</a>
				    <a>{$language_tag.index_source_showVisaSourceManage_visa_administrate}</a>
                    <a>{$language_tag.index_source_showVisaSourceManage_all_visa_administrate}</a>
                    <a><cite>{$language_tag.index_source_showVisaSourceManage_edit_visa}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <form class="layui-form" id="form1" onSubmit="return edit()">
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$language_tag.index_public_supplier}:</label>
                        <div class="layui-input-block">
                            <select  name="supplier_id" required lay-verify="required" lay-search disabled>
                                <option value=""></option>
                                {foreach $SupplierAr as $SupplierArV}
                                <option value="{$SupplierArV.supplier_id}" {$VisaAr.belong_supplier_id==$SupplierArV.supplier_id?'selected':''}>{$MultilingualAll['supplier-supplier_name-'.$SupplierArV.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$SupplierArV.supplier_name}</option>
                                {/foreach}
                            </select>
                            <!--<a href="/source/showSupplierAdd?supplier_type_id=6"  style="cursor:pointer "><u>添加供应商</u></a>-->
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$language_tag.index_source_showVisaSourceManage_visa_name}:</label>
                        <div class="layui-input-block">
                            <input type="text" id="edit_visa_name" name="visa_name" value="{$VisaAr.visa_name}" required
                                   lay-verify="required" placeholder="{$language_tag.index_source_showVisaSourceManage_input_visa_name}"   class="layui-input">
                            <i class="iconfont icon-fanyifuwu" style="position: absolute;width: 38px;height: 38px;top: 0px;right: 0px;font-size:
                                   35px;cursor:pointer;"onclick="MultilingualSetting('edit_visa_name','visa','visa_name',{$_GET['id']})"></i>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$language_tag.index_public_status}:</label>
                        <div class="layui-input-block">
                            <select id="status" name="status">
                                <option value="1" {$VisaAr.status==1?'selected':''}>{$language_tag.index_public_show}</option>
                                <option value="2" {$VisaAr.status==2?'selected':''}>{$language_tag.index_public_disabled}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label input-required">{$language_tag.index_public_company}:</label>
                            <div class="layui-input-block">
                                <select {$Think.session.user.company_id!=1?'disabled':''} name="choose_company_id" id="choose_company_id" lay-verify="required">
                                    <option value="0">{$language_tag.index_source_showVisaSourceManage_choose_own_company}</option>
                                    {foreach name='company_result'  item='vo'}
                                    <option value="{$vo.company_id}" {if condition="$vo.company_id eq  $VisaAr.company_id"} selected='selected'{/if}>{$MultilingualAll['company-company_name-'.$vo.company_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.company_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    {if condition="$VisaAr.supplier_id neq $VisaAr.belong_supplier_id"}
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$language_tag.index_source_showVisaSourceManage_own_agent}:</label>
                        <div class="layui-input-block">
                            <select name="agent_id" id="agent_id" lay-search=""  disabled>
                                {foreach name='data_agent' item='vo'}
                                <option value="{$vo.supplier_id}" {if condition="$vo.supplier_id eq $VisaAr.supplier_id"} selected="seleted"{/if}>{$MultilingualAll['supplier-supplier_name-'.$vo.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.supplier_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    {/if}
                </div>

                <div class="layui-form-item">
                    <div class="layui-col-md8">
                        <label class="layui-form-label">{$language_tag.index_source_showVisaSourceManage_related_data}:</label>
                        <div class="layui-input-block">
                            <a class="layui-btn test nav-edit"  >{$language_tag.index_source_showVisaSourceManage_upload}</a>
                            {if condition="$VisaAr.file_url neq ''"}
                            <a id="download"  href="{$VisaAr.file_url}" target="_blank" class="layui-btn layui-btn-danger">{$language_tag.index_source_showVisaSourceManage_download}</a>
                            {/if}
                            <font style="color: red">({$language_tag.index_source_showVisaSourceManage_file_format}zip|rar|7z)</font>
                            <input type="hidden" name="file_url" value="{$VisaAr.file_url}" id="uploadVisa"  />
                        </div>
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-col-md9">-->
                        <!--<label class="layui-form-label">备注:</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<textarea name="remark" required lay-verify="required"    class="layui-textarea">{$VisaAr.remark}</textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <hr>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$language_tag.index_source_showVisaSourceManage_payment_currency_type}:</label>
                        <div class="layui-input-block">
                            <select name="payment_currency_type" id="payment_currency_type" lay-verify="required" >
                                {foreach name='currency_data_result'  item='vo'}
                                <option  value="{$vo.currency_id}" {if condition="$vo.currency_id eq  $VisaAr.payment_currency_type"} selected='selected'{/if}>{$MultilingualAll['currency-currency_name-'.$vo.currency_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.currency_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$language_tag.index_public_price}:</label>
                        <div class="layui-input-block table-nont">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{$language_tag.index_public_type_price}</th>
                                    <th>{$language_tag.index_public_costprice}</th>
                                    <th>{$language_tag.index_public_settlementprice}</th>
                                    <!--<th>建议客户售价</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>{$language_tag.index_public_count_price}:</th>
                                    <th><input value="{$VisaAr.normal_price}" name="normal_price" id="normal_price" class="layui-input" required lay-verify="required|number"/></th>
                                    <th><input value="{$VisaAr.normal_settlement_price}" name="normal_settlement_price" id="normal_settlement_price" class="layui-input" required lay-verify="required|number"/></th>
                                    <!--<th><input value="{$VisaAr.normal_retail_price}" name="normal_retail_price" id="normal_retail_price" class="layui-input" required lay-verify="required|number"/></th>-->
                                </tr>
                                <!--<tr>-->
                                    <!--<th>成人:</th>-->
                                    <!--<th><input value="{$VisaAr.adult_settlement_price}" name="adult_settlement_price" id="adult_settlement_price" class="layui-input" /></th>-->
                                    <!--<th><input value="{$VisaAr.adult_price}" name="adult_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$VisaAr.adult_retail_price}" name="adult_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>占床儿童:</th>-->
                                    <!--<th><input value="{$VisaAr.child_bed_settlement_price}" name="child_bed_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$VisaAr.child_bed_price}" name="child_bed_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$VisaAr.child_bed_retail_price}" name="child_bed_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>老人:</th>-->
                                    <!--<th><input value="{$VisaAr.old_settlement_price}" name="old_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$VisaAr.old_price}" name="old_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$VisaAr.old_retail_price}" name="old_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>不占床儿童:</th>-->
                                    <!--<th><input value="{$VisaAr.child_settlement_price}" name="child_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$VisaAr.child_price}" name="child_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$VisaAr.child_retail_price}" name="child_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>单房差:</th>-->
                                    <!--<th><input value="{$VisaAr.single_settlement_price}" name="single_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$VisaAr.single_price}" name="single_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$VisaAr.single_retail_price}" name="single_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="layui-form-item">
                    <div class="all-button-center">
                        <button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="language_add_button">{$language_tag.index_public_submit}</button>
                        <a href="javascript:history.back(-1)"><button type="button" class="layui-btn layui-btn-primary">{$language_tag.index_public_back}</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}


<script>
    $(function(){
        var upload = layui.upload; //得到 upload 对象
        upload.render({
            elem: '.test',
            url:'/source/uploadVisa',
            accept:'file',
            exts:'zip|rar|7z',
            before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            },
            done: function(res, index, upload){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 0){
                    //do something （比如将res返回的图片链接保存到表单的隐藏域）
                    $('#uploadVisa').val(res.src);
                    $('#download').attr('href',res.src);
                    $('#download').show();
                }
            },error: function(index, upload){
                layer.closeAll('loading'); //关闭loading
            }
        });

    });

    function edit() {

        $.ajax({
            type: "POST",
            url: '/source/editVisaSourceManage?id={$_GET["id"]}',
            data: $('#form1').serializeArray(),
            success: function (data) {
                if(data.code!=200){
                    layer.msg(data.msg)
                    return false;
                }else if(data.code==200){
                    layer.msg('操作成功',{time:1,end : function(layero, index){
                        history.back(-1);
                    }
                    });
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                //console.log(errorThrown)
                layer.msg('验证失败')

            }
        });
        return false;
    }
</script>

</body>
</html>
