<!DOCTYPE html>
<html>
<head>
	{include file='public/head' /}
  	<title>language-manage</title>
 
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
	{include file='public/header' /}
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		{include file='public/left_menu' /}
    </div>
  </div>
  
  <div class="layui-body layui-body-bg">
  
    <!-- 内容主体区域 -->
    <div style="padding: 15px 15px 0px;">
		<div class="body-top">
			<div class='layui-form-item'>
			<span class="layui-breadcrumb" lay-separator="-">
				<a>{$language_tag.index_public_homepage}</a>
				<a>{$language_tag.index_branchcompany_showBranchProductManage_branchManagement}</a>
				<a><cite>{$language_tag.index_branchcompany_showBranchProductTypeManage_branchCompanyProductType}</cite></a>
			</span>
			</div>
			<div class='layui-block all-search-bg' >
				<form class="layui-form" method='get' action='/branchcompany/showBranchProductTypeManage'>
					<div class="layui-row">
						<div class="layui-col-md4">
							<div class="layui-form-item">
								<label class="layui-form-label">{$language_tag.index_public_status}:</label>
								<div class="layui-input-block">
									<select name="status">
										<option valeu='' >-{$language_tag.index_source_showCruisesManage_search_status}-</option>
										<option value="1" selected >{$language_tag.index_public_show}</option>
										<option value="0" {if condition="$Think.get.status eq '0'"}selected='selected' {/if}>{$language_tag.index_public_disabled}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="layui-col-md4">
							<div class="layui-form-item">
								<label class="layui-form-label">{$language_tag.index_public_company}{$language_tag.index_source_showHotelSource_name}:</label>
								<div class="layui-input-block">
									<select name="company_id" {if condition="$Think.session.user.company_id  neq 1"}disabled {/if}>
									<option value="0" >-{$language_tag.index_branchcompany_showBranchProductTypeManage_all_company}-</option>
									{foreach name='company_result' item='cr'}
									<option value="{$cr.company_id}" {if condition="($Think.session.user.company_id neq 1 and $Think.session.user.company_id eq $cr.company_id) or ($Think.session.user.company_id eq 1 and $Think.get.company_id eq $cr.company_id)"}selected {/if}>{$cr.company_name}</option>
									{/foreach}
									</select>
								</div>
							</div>
						</div>
						<div class="layui-col-md4">
							<div class="layui-form-item">
								<label class="layui-form-label">{$language_tag.index_branchcompany_showBranchProductTypeManage_branchCompanyProductType}:</label>
								<div class="layui-input-block">
									<input type="text" name="branch_product_type_name"  value="{$Think.get.branch_product_type_name}"  placeholder="{$language_tag.index_public_company}{$language_tag.index_product_showRouteTypeManage_typeName}" class="layui-input">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-row">
						<div class="layui-col-md4">
							<div class="layui-form-item">
								<label class="layui-form-label">{$language_tag.index_branchcompany_showCompanyOrderManage_creater}:</label>
								<div class="layui-input-block">
									<input type="text" name="create_user_name"  value="{$Think.get.create_user_name}"  placeholder="{$language_tag.index_branchcompany_showCompanyOrderManage_creater}" class="layui-input">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-row">
						<div class="layui-col-md4 layui-col-md-offset4">
							<div class='input-inline all-button-center pages-search-margin'>
								<button class="layui-btn nav-search">{$language_tag.index_public_search}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="content-bg">
			<span style="{:action('index/auth/check_auth',['role_id'=>'245'])}"><a href='/branchcompany/showBranchProductTypeAdd'><button class="layui-btn nav-add layui-btn-sm">{$language_tag.index_branchcompany_showBranchProductTypeManage_addBranchCompanyProductType}</button></a></span>
			<hr>
			<div class="table-nont user-manage company-pageHeight">
				<table class="layui-table layui-form" id="language-table">
					<thead>
					<tr>
						<th>{$language_tag.index_branchcompany_showBranchProductTypeManage_branchCompanyProductType}</th>
						<th>{$language_tag.index_public_company}{$language_tag.index_source_showHotelSource_name}</th>
						<th>{$language_tag.index_system_showCurrencyManage_create_time}</th>
						<th>{$language_tag.index_branchcompany_showCompanyOrderManage_creater}</th>

						<th>{$language_tag.index_public_status}</th>
						<th class="layui-table-width">{$language_tag.index_source_operation}</th>
					</tr>
					</thead>

					<tbody>
					{foreach name='data' item='v'}
					<tr>
						<th class="branch_product_type_id" hidden="hidden">{$v.branch_product_type_id}</th>
						<th>{$v.branch_product_type_name}</th>
						<th>{$v.company_name}</th>
						<th>{$v.create_time|date='Y-m-d H:i:s',###}</th>
						<th>{$v.create_user_name}</th>
						<th>
							{if condition="in_array('246',$auth_id) OR $Think.session.user.role_id eq 1"}<input type="checkbox" {if condition="$v.status eq 1"}checked=""{else/}{/if} name="open" lay-skin="switch" lay-filter="switchTest" lay-text="{$language_tag.index_public_show}|{$language_tag.index_public_disabled}">{else/}{if condition="$v.status eq 1"}{$language_tag.index_public_show}{else}{$language_tag.index_public_disabled}{/if}{/if}
						</th>
						<th>
								<span style="{:action('index/auth/check_auth',['role_id'=>'246'])}"><a href='/branchcompany/showBranchProductTypeEdit?branch_product_type_id={$v.branch_product_type_id}'><button class="layui-btn layui-btn-sm hover-edit layui-btn-primary">{$language_tag.index_public_update}</button></a></span>
								{if condition="$v.status eq 1"}
									<span style="{:action('index/auth/check_auth',['role_id'=>'247'])}"><button branch_product_type_id="{$v.branch_product_type_id}" class="layui-btn layui-btn-sm branch_product_type_edit layui-btn-primary">{$language_tag.index_public_del}</button></span>
								{/if}
								<!-- <a href='/system/showLanguageInfo?id={$v.language_id}'><button class="layui-btn layui-btn-sm nav-details">{$language_tag.index_public_info}</button></a> -->
						</th>
					</tr>
					{/foreach}
					</tbody>

				</table>
			</div>
			<div class="listButtom">
				<!--加载分页-->
				{include file='public/page' /}
			</div>
		</div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/branchcompany/branch_product_type.js'></script>
<script>
	var layer = layui.layer;

	var form = layui.form;
	form.on('switch(switchTest)', function(data){
		var table_id = $(data.elem).parents("tr").children(".branch_product_type_id").html();
		var table_id_name = "branch_product_type_id";
		var table_name = "branch_product_type";
		if(this.checked == true){
			var status = 1;
		}else{
			var status = 0;
		}

		$.ajax({
			type: "POST",
			url: '/index/changeStatus',
			data: {
				table_id:table_id,
				table_id_name:table_id_name,
				table_name:table_name,
				status:status,
			},
			success: function(data){
				//console.log(data);
				if(data.code!=200){
					layer.msg(data.msg);
					return false;
				}else if(data.code==200) {
					layer.msg('操作成功',{time:1,end : function(layero, index){

						}
					});
				}
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
				layer.msg('验证失败')
			}
		});
	});


</script>
</body>
</html>
