<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>language-manage-edit</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
                    <a>{$Think.lang.index_public_homepage}</a>
					<a>{$Think.lang.index_public_system}</a>
					<a>{$Think.lang.index_system_showRoleManage_role_manage}</a>
					<a><cite>{$Think.lang.index_system_showRoleManage_edit_role}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <div class="layui-row">
                <form class="layui-form layui-col-md4" onSubmit="return roleEdit()">
                    <div class="layui-form-item">
                        <label class="layui-form-label input-required">{$Think.lang.index_system_showRoleManage_name}：</label>
                        <div class="layui-input-block">
                            <input id="edit_role_name" name="role_name" required="" lay-verify="required" placeholder="{$Think.lang.index_system_showRoleManage_input_name}" autocomplete="off" class="layui-input" type="text" value="{$data.role_name}">
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$Think.lang.index_public_status}：</label>
                        <div class="layui-input-block">
                            <select name="status" id="edit_role_status" lay-filter="required" >
                                <option value="1" {if condition="$data.status eq 1"}selected='selected' {/if}>{$Think.lang.index_public_show}</option>
                                <option value="0" {if condition="$data.status eq 0"}selected='selected' {/if}>{$Think.lang.index_public_disabled}</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="language_edit_button">{$Think.lang.index_public_submit}</button>
                            <a href='javascript:history.back(-1)'><button type="button" class="layui-btn layui-btn-primary">{$Think.lang.index_public_back}</button></a>
                            <input type="hidden" id="role_id" value="{$Think.get.role_id}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/system/role.js'></script>
</body>
</html>
