<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>回执单模板</title>
    <link href="__STATIC__/css/product.css" rel="stylesheet">
    <link href="__STATIC__/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/css/soulTable.css" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body layui-body-bg">

        <!-- 内容主体区域 -->
        <div style="padding: 15px 15px 0px;">
            <div class="body-top">
                <div class='layui-form-item'>
                    <span class="layui-breadcrumb" lay-separator="-">
                        <a>{$Think.lang.index_public_homepage}</a>
                        <a>Bookings</a>
                        <a><cite>cost_list</cite></a>
                    </span>
                </div>
            </div>
            <div class="content-bg" style="padding-bottom: 5px!important;">
                <div class="company-pageHeight">
                    <table id="orderTable" lay-filter="orderTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}


<script type="text/javascript">
    layui.config({
        base: '__STATIC__/javascript/layui_exts/',
    }).extend({
        soulTable: 'soulTable'
    });
</script>
<script type="text/javascript">
    layui.use(['table','jquery','laydate','soulTable'], function(){
        var table = layui.table;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var soulTable=layui.soulTable;

        lay('.sales-date').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,done: function(value, date){
                    console.log(date)
                }
            });
        });

        var bodyTopH=$(".body-top").height();
        var bodyH=$(".layui-body").height();
        var height=bodyH-bodyTopH-15-75;
        //layer.load(2);

        var myTable = table.render({
            elem: '#orderTable'
            ,height: height+'px'
            ,limits: [10,20,30,40,50,60,70,80,90]
            ,limit: 10 //每页默认显示的数量
            ,page: true
            ,cols: [[ //表头
                {field: 'order_number', title: '{$Think.lang.index_finance_showReceivableManage_order_number}', width:170, sort: true,filter: true, fixed: 'left'}
                ,{field: 'type', title: '类型',filter:true, sort: true, width:170}
                ,{field: 'supplier_name', title: '供应商', sort: true, width:150,filter: true}
                ,{field: 'currency', title: '币种', sort: true, width:100,filter:true}
                ,{field: 'txcd', title: '税种', sort: true, width:140,filter:true}
                ,{field: 'netamt', title: 'NetAmt', sort: true, width:150,filter:true}
                ,{field: 'gst', title: 'GST', sort: true, width:120,filter:true}
                ,{field: 'pst', title: 'PST', sort: true, width:190,filter:true}
                ,{field: 'hst', title: 'HST', sort: true, width:120,filter: true}
                ,{field: 'p_otx', title: 'OTX', sort: true, width:120,filter: true}
                ,{field: 'invamt', title: 'InvAmt', sort: true, width:160,filter: true}
                ,{field: 'estcost', title: 'EstCost', sort: true, width:160,filter: true}
                ,{field: 'cost', title: '成本', sort: true, width:160,filter: true}
                ,{field: 'invoice_number', title: '发票号', sort: true, width:160,filter: true}
                ,{field: 'invoice_time', title: '发票日期', sort: true, width:160,filter: true}
                ,{field: 'paidamt', title: 'PaidAmt', sort: true, width:160,filter: true}
                ,{field: 'balance', title: 'Balance', sort: true, width:160,filter: true}
                ,{field: 'begin_time', title: '出发日期', sort: true, width:160,filter: true}
                ,{field: 'create_user_nickname', title: '创建人', sort: true, width:160,filter: true}
            ]],
            filter: {
                bottom: false
            }
            ,done: function () {
                soulTable.render(this);
            }
        });

        search({});
        function search(data) {
            var loading = layer.load(2);
            $.ajax({
                url: '/CompanyOrder/getCostListAjax',
                data: data,
                dataType: 'json',
                success: function (res) {
                    myTable.reload({
                        data: res.data
                    })
                },
                complete: function () {
                    layer.close(loading)
                }
            })
        }
    });
</script>
</body>
</html>