<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>language-manage</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body layui-body-bg">

        <!-- 内容主体区域 -->
        <div style="padding: 15px 15px 0px;">
            <div class="body-top">
                <div class='layui-form-item'>
                    <span class="layui-breadcrumb" lay-separator="-">
                        <a>{$Think.lang.index_public_homepage}</a>
                        <a>{$Think.lang.index_source_showFlightSourceManage_source_administrate}</a>
                        <a><cite>{$Think.lang.index_source_showFlightManage_source_administrate}</cite></a>
                    </span>
                </div>
                <div class='layui-block all-search-bg'>
                    <form class="layui-form" method='get' action='/source/showFlightManage'>
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{$Think.lang.index_public_status}:</label>
                                    <div class="layui-input-block">
                                        <select id="" name="status">
                                            <option value="0" {if condition="$Think.get.status eq 0"}selected='selected' {/if}>-{$Think.lang.index_public_status}-</option>
                                            <option value="1" selected=''>{$Think.lang.index_public_show}</option>
                                            <option value="2" {if condition="$Think.get.status eq 2"}selected='selected' {/if}>{$Think.lang.index_public_disabled}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{$Think.lang.index_source_showFlightManage_supplier}:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="" name="supplier_name"   value="{$Think.get.supplier_name}" placeholder="{$Think.lang.index_source_showFlightManage_supplier}" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class='layui-input-inline'>
                            <input type="text" id="" name=""  placeholder="电话、联系人、操作人" class="layui-input">
                        </div>-->
                        <div class="layui-row">
                            <div class="layui-col-md4 layui-col-md-offset4">
                                <div class='input-inline all-button-center pages-search-margin'>
                                    <input type="hidden" name="supplier_type_id" value="4">
                                    <button class="layui-btn nav-search" >{$Think.lang.index_source_showFlightManage_search}</button>
                                </div>
                            </div>
                        </div>
                        <!--<div class='layui-button-inline layui-search-inline'>
                            <input type="hidden" name="supplier_type_id" value="4">
                            <button class="layui-btn nav-search" >{$Think.lang.index_source_showFlightManage_search}</button>
                        </div>-->
                    </form>
                    <!--<div class='layui-button-inline'>

                        <a href='/source/showFlightAdd'><button class="layui-btn nav-add">{$Think.lang.index_source_showFlightSourceManage_add_flight_source}</button></a>
                        &lt;!&ndash;<a href='/source/showFlightSource'><button class="layui-btn nav-look">查看全部航班资源</button></a>&ndash;&gt;
                        &lt;!&ndash;<a href='/source/showSupplierAdd'><button class="layui-btn nav-add">添加航班供应商</button></a>&ndash;&gt;
                        <a href='/source/showFlightSource'><button class="layui-btn nav-look">{$Think.lang.index_source_showFlightSourceManage_all_flight_source}</button></a>

                    </div>-->
                </div>
            </div>
            <div class="content-bg">
                <span style="{:action('index/auth/check_auth',['role_id'=>'187'])}"><a href='/source/showFlightAdd'><button class="layui-btn nav-add layui-btn-sm">{$Think.lang.index_source_showFlightSourceManage_add_flight_source}</button></a></span>
                <span style="{:action('index/auth/check_auth',['role_id'=>'185'])}"><a href='/source/showFlightSource'><button class="layui-btn nav-look layui-btn-sm">{$Think.lang.index_source_showFlightSourceManage_all_flight_source}</button></a></span>
                <hr>
                <div class="table-nont user-manage newBg-pageHeight">
                    <table class="layui-table" id="language-table">
                        <thead>
                        <tr>
                            <th>{$Think.lang.index_source_showFlightManage_id}</th>
                            <th>{$Think.lang.index_source_showFlightManage_supplier}</th>
                            <th>{$Think.lang.index_public_status}</th>
                            <th>{$Think.lang.index_source_showFlightManage_Flight}</th>
                            <!--<th class="layui-table-width">操作</th>-->
                        </tr>
                        </thead>

                        <tbody>
                        {foreach name="data" item="vo" }
                        <tr>
                            <th>{$vo.supplier_id}</th>
                            <th>{$MultilingualAll['supplier-supplier_name-'.$vo.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.supplier_name}</th>
                            <th>{if condition="$vo.status eq 1"}{$Think.lang.index_public_show}{else/}{$Think.lang.index_public_disabled}{/if}</th>
                            <th><span style="{:action('index/auth/check_auth',['role_id'=>'186'])}"><a href='/source/showFlightSource?id={$vo.supplier_id}'><button class="layui-btn layui-btn-sm hover-edit layui-btn-primary">{$Think.lang.index_source_showFlightManage_source}</button></a></span></th>
                            <!--<th><a href='/source/showSupplierEdit?supplier_id={$vo.supplier_id}'><button class="layui-btn layui-btn-sm">&nbsp;编&nbsp;辑&nbsp;</button></a> <a href='/source/showSupplierInfo?supplier_id={$vo.supplier_id}'><button class="layui-btn layui-btn-sm">&nbsp;详&nbsp;情&nbsp;</button></a></th>-->
                        </tr>
                        {/foreach}
                        </tbody>

                    </table>
                </div>
                <div class="listButtom">
                    {include file='public/page' /}
                </div>
            </div>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/system/source.js'></script>

</body>
</html>
