<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>{$supplierName}景点资源编辑</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$Think.lang.index_public_homepage}</a>
				    <a>{$Think.lang.index_source_showScenicSpotManage_source_administrate}</a>
				    <a>{$Think.lang.index_source_showScenicSpotManage_scenicspot_administrate}</a>
                    <a>{$Think.lang.index_source_showScenicSpotSourceManage_all_source}</a>
                    <a><cite>{$Think.lang.index_source_showScenicSpotSourceManage_edit_scenicspot}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <form class="layui-form" id="form1" onSubmit="return edit()">
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$Think.lang.index_public_supplier}:</label>
                        <div class="layui-input-block">
                            <select  name="supplier_id" required lay-verify="required" lay-search disabled>
                                <option value=""></option>
                                {foreach $SupplierList as $SupplierListV}
                                <option value="{$SupplierListV.supplier_id}" {$ScenicSpotSourceAr.belong_supplier_id==$SupplierListV.supplier_id?'selected':''}>{$MultilingualAll['supplier-supplier_name-'.$SupplierListV.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$SupplierListV.supplier_name}</option>
                                {/foreach}
                            </select>
                            <!--<a style="cursor:pointer " href="/source/showSupplierAdd?supplier_type_id=7"><u>添加供应商</u></a>-->
                        </div>
                    </div>
                    {if condition="$ScenicSpotSourceAr.supplier_id neq $ScenicSpotSourceAr.belong_supplier_id"}
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label input-required">{$Think.lang.index_source_showScenicSpotSourceManage_own_agent}:</label>
                            <div class="layui-input-block">
                                <select name="agent_id" id="agent_id" lay-search=""  disabled>
                                    {foreach name='agentAr' item='vo'}
                                    <option value="{$vo.supplier_id}" {if condition="$vo.supplier_id eq $ScenicSpotSourceAr.supplier_id"} selected="seleted"{/if}>{$MultilingualAll['supplier-supplier_name-'.$vo.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.supplier_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    {/if}
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$Think.lang.index_public_status}:</label>
                        <div class="layui-input-block">
                            <select id="status" name="status"  >
                                <option value="1" {$ScenicSpotSourceAr.status==1?'selected':''} >{$Think.lang.index_public_show}</option>
                                <option value="2" {$ScenicSpotSourceAr.status==2?'selected':''} >{$Think.lang.index_public_disabled}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$Think.lang.index_source_showScenicSpotSourceManage_own_zone}:</label>
                        <div class="layui-input-block">
                            <select name="country_id" id="country_id" required lay-verify="required" lay-filter='country_id' lay-search>
                                <option  ></option>
	                            {foreach country_result as $CityArV}
	                            	<option value="{$CityArV.city_id}" {if condition="$CityArV.city_id eq $ScenicSpotSourceAr.city_id"}selected='selected'{/if}>{$MultilingualAll['country-country_name-'.$CityArV.country_id.'-'.$Think.session.user.language_id][0]['translate']|default=$CityArV.country_name}- {$MultilingualAll['country-country_name-'.$CityArV.province_id.'-'.$Think.session.user.language_id][0]['translate']|default=$CityArV.province_name}- {$MultilingualAll['country-country_name-'.$CityArV.city_id.'-'.$Think.session.user.language_id][0]['translate']|default=$CityArV.city_name}</option>
	                            {/foreach}
                            
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$Think.lang.index_source_showScenicSpotSourceManage_source_level}:</label>
                        <div class="layui-input-block">
                            <input type="text" name="level_name" value="{$ScenicSpotSourceAr.level_name}"   placeholder=""   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$Think.lang.index_source_showScenicSpotSourceManage_scenicspot_name}:</label>
                        <div class="layui-input-block">
                            <input type="text" id="edit_scenic_spot_name" name="scenic_spot_name"
                                   value="{$ScenicSpotSourceAr.scenic_spot_name}" placeholder=""   class="layui-input" required lay-verify="required">
                            <i class="iconfont icon-fanyifuwu" style="position: absolute;width: 38px;height: 38px;top: 0px;right: 0px;font-size:
                            35px;cursor:pointer;"onclick="MultilingualSetting('edit_scenic_spot_name','scenic_spot','scenic_spot_name',{$_GET['id']})"></i>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$Think.lang.index_source_showScenicSpotSourceManage_linkman}:</label>
                        <div class="layui-input-block">
                            <input type="text" name="linkman" value="{$ScenicSpotSourceAr.linkman}"   placeholder=""   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$Think.lang.index_source_showScenicSpotSourceManage_phone}:</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" value="{$ScenicSpotSourceAr.phone}"   placeholder=""   class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$Think.lang.index_source_showScenicSpotSourceManage_addess}:</label>
                        <div class="layui-input-block">
                            <input type="text" name="addess" value="{$ScenicSpotSourceAr.addess}"    placeholder=""   class="layui-input" >
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$Think.lang.index_public_company}:</label>
                        <div class="layui-input-block">
                            <select {$Think.session.user.company_id!=1?'disabled':''} name="choose_company_id" id="choose_company_id" lay-verify="required" >
                                <option value="0">{$Think.lang.index_source_showScenicSpotSourceManage_choose_own_company}</option>
                                {foreach name='company_result'  item='vo'}
                                <option value="{$vo.company_id}" {if condition="$vo.company_id eq  $ScenicSpotSourceAr.company_id"} selected='selected'{/if}>{$MultilingualAll['company-company_name-'.$vo.company_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.company_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$Think.lang.index_source_showScenicSpotSourceManage_website}:</label>
                        <div class="layui-input-block">
                            <input type="text" name="website" value="{$ScenicSpotSourceAr.website}"    placeholder=""   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">{$Think.lang.index_source_showScenicSpotSourceManage_email}:</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" value="{$ScenicSpotSourceAr.email}"    placeholder=""   class="layui-input" >
                        </div>
                    </div>
                </div>
                <br>
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-col-md9">-->
                        <!--<label class="layui-form-label">备注:</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<textarea name="remark"   class="layui-textarea" required lay-verify="required">{$ScenicSpotSourceAr.remark}</textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <hr><br>
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$Think.lang.index_source_showScenicSpotSourceManage_payment_currency_type}:</label>
                        <div class="layui-input-block">
                            <select name="payment_currency_type" id="payment_currency_type" lay-verify="required">
                                {foreach name='currency_data_result'  item='vo'}
                                <option  value="{$vo.currency_id}" {if condition="$vo.currency_id eq  $ScenicSpotSourceAr.payment_currency_type"} selected='selected'{/if}>{$MultilingualAll['currency-currency_name-'.$vo.currency_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.currency_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label input-required">{$Think.lang.index_public_price}:</label>
                        <div class="layui-input-block table-nont">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{$Think.lang.index_public_type_price}</th>
                                    <th>{$Think.lang.index_public_costprice}</th>
                                    <th>{$Think.lang.index_public_settlementprice}</th>
                                    <!--<th>零售价</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>{$Think.lang.index_public_count_price}:</th>
                                    <th><input value="{$ScenicSpotSourceAr.normal_price}" name="normal_price" id="normal_price" class="layui-input" required lay-verify="required|number"/></th>
                                    <th><input value="{$ScenicSpotSourceAr.normal_settlement_price}" name="normal_settlement_price" id="normal_settlement_price" class="layui-input" required lay-verify="required|number"/></th>
                                    <!--<th><input value="{$ScenicSpotSourceAr.normal_retail_price}" name="normal_retail_price" id="normal_retail_price" class="layui-input" required lay-verify="required|number"/></th>-->
                                </tr>
                                <!--<tr>-->
                                    <!--<th>成人:</th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.adult_settlement_price}" name="adult_settlement_price" id="adult_settlement_price" class="layui-input" /></th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.adult_price}" name="adult_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$ScenicSpotSourceAr.adult_retail_price}" name="adult_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>占床儿童:</th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.child_bed_settlement_price}" name="child_bed_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.child_bed_price}" name="child_bed_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$ScenicSpotSourceAr.child_bed_retail_price}" name="child_bed_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>老人:</th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.old_settlement_price}" name="old_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.old_price}" name="old_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$ScenicSpotSourceAr.old_retail_price}" name="old_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>不占床儿童:</th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.child_settlement_price}" name="child_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.child_price}" name="child_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$ScenicSpotSourceAr.child_retail_price}" name="child_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>单房差:</th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.single_settlement_price}" name="single_settlement_price"   class="layui-input" /></th>-->
                                    <!--<th><input value="{$ScenicSpotSourceAr.single_price}" name="single_price"   class="layui-input" /></th>-->
                                    <!--&lt;!&ndash;<th><input value="{$ScenicSpotSourceAr.single_retail_price}" name="single_retail_price"   class="layui-input" /></th>&ndash;&gt;-->
                                <!--</tr>-->
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <!--<div class="layui-form-item">-->
                <!--<div class="layui-col-md9">-->
                <!--<label class="layui-form-label">说明:</label>-->
                <!--<div class="layui-input-block">-->
                <!--<textarea name=""  class="layui-textarea"></textarea>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <br>
                <div class="layui-form-item">
                    <div class="all-button-center">
                        <button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="language_add_button">{$Think.lang.index_public_submit}</button>
                        <a href="javascript:history.back(-1)"><button type="button" class="layui-btn layui-btn-primary">{$Think.lang.index_public_back}</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}


<script>
    $(function(){
        var layer = layui.layer  ,form = layui.form;
        //选择国家更新城市
        form.on('select(nation)',function(data){
            var cid = data.value;
            $.ajax({
                type: "POST",
                url: '/source/getCityAjax',
                data: {
                    'cid': cid,
                },
                'dataType':'json',
                success: function (a) {
//                    console.log(a);
                    var data = a.data;
                    console.log(data);
                    $('#country_id').html('');
                    var h = "<option ></option>";
                    for(i in data){
                        h += "<option value='"+data[i]['country_id']+"'>"+data[i]['country_name']+"</option>";
                    }
                    $('#country_id').html(h);
                    form.render();

                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    //console.log(errorThrown)
                    layer.msg('验证失败')

                }
            });
        });


    });

    function edit() {
        $.ajax({
            type: "POST",
            url: '/source/editScenicSpotSourceAjax?id={$_GET["id"]}',
            data: $('#form1').serializeArray(),
            success: function (data) {
                if(data.code!=200){
                    layer.msg(data.msg)
                    return false;
                }else if(data.code==200){
                    layer.msg('操作成功',{time:1,end : function(layero, index){
                        history.back(-1);
                    }
                    });
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                //console.log(errorThrown)
                layer.msg('验证失败');
            }
        });
        return false;
    }
</script>
</body>
</html>
