<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>{$supplierName}签证资源编辑</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$Think.lang.index_public_homepage}</a>
                    <a>{$Think.lang.index_source_showVisaManage_source_administrate}</a>
				    <a>{$Think.lang.index_source_showVisaSourceManage_visa_administrate}</a>
                      <a>{$Think.lang.index_source_showVisaSourceManage_all_visa_administrate}</a>
                    <a><cite>{$Think.lang.index_public_language}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <div class="layui-row">
                <form class="layui-form layui-col-md4" id="form1" onSubmit="return edit_language()">
                    {volist name='language_result' id='v'}
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$v.language_name}{$Think.lang.index_source_showVisaSourceManage_visa_name}:</label>
                        <div class="layui-input-block layui-form" >
                            <input  class="layui-input edit_language" name="country_code" visa_language_id='{$v.language_info.visa_language_id}'  lang_id='{$v.language_id}' placeholder="{$Think.lang.index_source_showVisaSourceManage_input_name}" autocomplete="off"  type="text" value="{$v.language_info.visa_name}">

                        </div>
                    </div>
                    {/volist}

                    <input type='hidden' value="{$Think.get.source_number}" id='source_number' />
                    <br>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="language_add_button">{$Think.lang.index_public_submit}</button>
                            <a href="javascript:history.back(-1)"><button type="button" class="layui-btn layui-btn-primary">{$Think.lang.index_public_back}</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}


<script>
    $(function(){
        var upload = layui.upload; //得到 upload 对象
        upload.render({
            elem: '.test',
            url:'/source/uploadVisa',
            accept:'file',
            exts:'zip|rar|7z',
            before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            },
            done: function(res, index, upload){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 0){
                    //do something （比如将res返回的图片链接保存到表单的隐藏域）
                    $('#uploadVisa').val(res.src);
                    $('#download').attr('href',res.src);
                    $('#download').show();
                }
            },error: function(index, upload){
                layer.closeAll('loading'); //关闭loading
            }
        });

    });

    function edit() {

        $.ajax({
            type: "POST",
            url: '/source/editVisaSourceManage?id={$_GET["id"]}',
            data: $('#form1').serializeArray(),
            success: function (data) {
                if(data.code!=200){
                    layer.msg(data.msg)
                    return false;
                }else if(data.code==200){
                    layer.msg('操作成功',{time:1,end : function(layero, index){
                        history.back(-1);
                    }
                    });
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                //console.log(errorThrown)
                layer.msg('验证失败')

            }
        });
        return false;
    }
	
		
	//修改签证多语言
function edit_language(){
	//获取有几个input框
	var l = $('.edit_language').length;
	var c = $('.edit_language');
	var data2 = [];

	for(var i =0;i<l;i++){
	
		var data_params = {"lang_id":c.eq(i).attr('lang_id'),"visa_language_id":c.eq(i).attr('visa_language_id'),"source_number": $('#source_number').val(),"visa_name":c.eq(i).val()}

		data2.push(data_params);
		
	}


    $.ajax({
        type: "POST",
        url: '/source/visaEditLanguageAjax',

        datatype: 'json',
        contentType: 'application/json;charset=utf-8',
        //data:JSON.stringify(data2)
        data:JSON.stringify(data2)       
        , 

        success: function (data) {
            // console.log(data);
            if(data.code!=200){
                layer.msg(data.msg);
                return false;
            }else if(data.code==200) {
                layer.msg('操作成功',{time:1,end : function(layero, index){
                        location.href='/source/showVisaSourceManage';
                    }
                });
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            layer.msg('验证失败')
        }
    });
	
	
	
	return false;	
	

	
}
</script>

</body>
</html>
