<!DOCTYPE html>
<head>
    {include file='public/head' /}
    <title>layout 后台大布局 - Layui</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu_booknexus' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px 15px 0px;">
            <div class="body-top">
                <div class='layui-form-item'>
			<span class="layui-breadcrumb" lay-separator="-">
				<a>{$language_tag.index_public_homepage}</a>
				<a>B2B</a>
			  	<a><cite>订单列表</cite></a>
			</span>
                </div>
                <br/>
                <div class='layui-block input-inline' >
                    <form  class="layui-form"  method='get' action=''>
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">订单编号:</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="s_company_order_number" value="{$_GET['s_company_order_number']}"  placeholder="" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">创建日期:</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="s_create_time" value="{$_GET['s_create_time']}"  placeholder="" class="layui-input time">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">出发日期：</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="s_begin_time" value="{$_GET['s_begin_time']}"  placeholder="" class="layui-input time">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">代理商:</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="s_distributor_name" value="{$_GET['s_distributor_name']}"  placeholder="" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">代理商编号:</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="s_distributor_code" value="{$_GET['s_distributor_code']}"  placeholder="" class="layui-input ">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">订单状态：</label>
                                    <div class="layui-input-block">
                                        <select class="layui-select" name="s_booking_status">
                                            <option></option>
                                            {foreach $b2bBookingStatus as $k=>$v}
                                                <option value="{$k}" {$k==$_GET['s_booking_status']?'selected':''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">处理状态:</label>
                                    <div class="layui-input-block">
                                        <select class="layui-select" name="s_office_status">
                                            <option></option>
                                            {foreach $b2bOfficeStatus as $k=>$v}
                                            <option value="{$k}"  {$k==$_GET['s_office_status']?'selected':''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">付款状态:</label>
                                    <div class="layui-input-block">
                                        <select class="layui-select" name="s_payment_status">
                                            <option></option>
                                            {foreach $b2bPayment as $k=>$v}
                                            <option value="{$k}"  {$k==$_GET['s_payment_status']?'selected':''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="layui-row">
                            <div class="layui-col-md4 layui-col-md-offset4">
                                <div class='input-inline all-button-center pages-search-margin'>
                                    <button class="layui-btn nav-search">{$language_tag.index_public_search}</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <hr><br>
            </div>
            <div class="table-nont user-manage pageHeight">
                <table class="layui-table layui-form" >
                    <thead>
                    <tr>
                        <th width=''>订单内容</th>
                        <th width=''>AGENT REFERENCE ID</th>
                        <th width=''>代售产品名称<br>TOUR NAME</th>
                        <th width=''>人数</th>
                        <th width=''>出发日期<br>TOUR DATE</th>
                        <th width=''>代理商<br>AGENT</th>
                        <th width=''>代理商编号<br>AGENT Code</th>
                        <th width=''>代理商顾问<br>CONSULTANT</th>
                        <th width=''>创建时间<br>CREATED date</th>
                        <th width=''>订单状态<br>booking status</th>
                        <th width=''>处理状态<br>Office Status</th>
                        <th width=''>付款状态<br>Payment status</th>
                        <th width='20%'>操作<br>Action</th>
                    </tr>

                    </thead>
                    <tbody>
                    {foreach $data as $v}
                        <tr>
                            <td>{$v.company_order_number}</td>
                            <td>{$v.agent_reference_id}</td>
                            <td>{$v.tour_name}</td>
                            <td>{$v.customer_count}</td>
                            <td><?=date('Y-m-d',$v['begin_time']);?></td>
                            <td>{$v.distributor_name}</td>
                            <td>{$v.distributor_code}</td>
                            <td></td>
                            <td><?=date('Y-m-d',$v['create_time']);?></td>
                            <td>{$v.booking_status}</td>
                            <td>{$v.office_status}</td>
                            <td>{$v.payment_status}</td>
                            <td>
                                <a class="layui-btn layui-btn-sm" href="/admin_booking/updateBookingFormGeneral?b2b_booking_id={$v.b2b_booking_id}">编 辑</a>
                                <a class="layui-btn layui-btn-sm">Vouche</a>
                                <a class="layui-btn layui-btn-sm">Invoice</a>
                            </td>

                        </tr>
                    {/foreach}
                    </tbody>
                </table>
                <div class="listButtom">
                    {include file='public/page' /}
                </div>
            </div>

            <div class="listButtom">

            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script>
    //JavaScript代码区域
    var layer = layui.layer;
    var laydate = layui.laydate;
    var form = layui.form;

    $('.time').each(function(){
        laydate.render({
            elem: this
            ,type: 'date'
        });
    });

</script>

</body>
</html>