<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>language-manage</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu_booknexus' /}
        </div>
    </div>

    <div class="layui-body layui-body-bg">

        <!-- 内容主体区域 -->
        <div style="padding: 15px 15px 0px;">
            <div class="body-top">
                <div class='layui-form-item'>
                    <span class="layui-breadcrumb" lay-separator="-">
                        <a>{$language_tag.index_public_homepage}</a>
                        <a>B2B</a>
                        <a>Tour</a>
                        <a><cite>Tour Type</cite></a>
                    </span>
                </div>
                <div class='layui-block all-search-bg'>
                    <form class="layui-form" method='get' action='/booknexus_tour/showTourTypeManage'>
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{$language_tag.index_public_status}:</label>
                                    <div class="layui-input-block">
                                        <select id="" name="status">
                                            <option value="2" selected="">-{$language_tag.index_source_showCruisesManage_search_status}-</option>
                                            <option value="1" {if condition="$Think.get.status eq 1"}selected='selected' {/if}>{$language_tag.index_public_show}</option>
                                            <option value="0" {if condition="$Think.get.status eq 0"}selected='selected' {/if}>{$language_tag.index_public_disabled}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">Type Name:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="" name="tour_type_name" value="{$Think.get.tour_type_name}" autocomplete="off" placeholder="类型名称" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md4 layui-col-md-offset4">
                                <div class='input-inline all-button-center pages-search-margin'>
                                    <button class="layui-btn nav-search" >{$language_tag.index_public_search}</button>
                                </div>
                            </div>
                        </div>
<!--                        <div class='layui-button-inline layui-number-inline'>
                            <input type="hidden" name="supplier_type_id" value="4">
                            <button class="layui-btn nav-search" >{$language_tag.index_public_search}</button>
                        </div>-->
                    </form>
<!--                    <div class='layui-button-inline'>
                        <a href='/product/showRouteTypeAdd'><button class="layui-btn nav-add">添加线路类型</button></a>
                    </div>-->
                </div>
            </div>
            <div class="content-bg">
                <span><a href='/booknexus_tour/showTourTypeAdd?pid={$Think.get.pid}'><button class="layui-btn nav-add layui-btn-sm">添加</button></a></span>
                {if condition="$Think.get.pid gt 0"}<span><a href="/booknexus_tour/showTourTypeManage?pid={$url_pid}&status=1" class="table-href"><button class="layui-btn nav-add layui-btn-sm">{$language_tag.index_public_history_back}</button></a></span>{else}{/if}
                <hr>
                <div class="table-nont user-manage company-pageHeight">
                    <table class="layui-table layui-form" id="language-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>父级类型</th>
                            <th>类型名称</th>
                            <th>中文名</th>
                            <th>系统类型</th>
                            <th>{$language_tag.index_public_status}</th>
                            <th class="layui-table-width">{$language_tag.index_source_operation}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {foreach name="data" item="vo"}
                        <tr>
                            <th class="tour_type_id">{$vo.tour_type_id}</th>
                            <th>{if condition="$vo.p_id gt 0"}<a href="/booknexus_tour/showTourTypeManage?pid={$vo.p_tour_type_id}&status=1" class="table-href">{$vo.p_name ?? '--'}</a>{else}--{/if}
                            </th>
                            <th><a href="/booknexus_tour/showTourTypeManage?pid={$vo.tour_type_id}&status=1" class="table-href">{$vo.tour_type_name}</a></th>
                            <!--<th>{$MultilingualAll['company-company_name-'.$vo.company_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.company_name}</th>-->
                            <th>{$vo.cn_name}</th>
                            <th>{$vo.system_type}</th>
                            <th>
                                {if condition="in_array('237',$auth_id) OR $Think.session.user.role_id eq 1"}<input type="checkbox" {if condition="$vo.status eq 1"}checked=""{else/}{/if} name="open" lay-skin="switch" lay-filter="switchTest" lay-text="{$language_tag.index_public_show}|{$language_tag.index_public_disabled}">{else/}{if condition="$vo.status eq 1"}{$language_tag.index_public_show}{else}{$language_tag.index_public_disabled}{/if}{/if}
                            </th>
                            <th><span><a href='/booknexus_tour/showTourTypeEdit?tour_type_id={$vo.tour_type_id}'><button class="layui-btn layui-btn-sm hover-edit layui-btn-primary">{$language_tag.index_public_update}</button></a></span>
                            </th>
                        </tr>
                        {/foreach}
                        </tbody>

                    </table>
                </div>
                <div class="listButtom">
                    {include file='public/page' /}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
{include file='public/foot_js' /}
<script>
    var layer = layui.layer;

    var form = layui.form;
    form.on('switch(switchTest)', function(data){
        var table_id = $(data.elem).parents("tr").children(".tour_type_id").html();
        var table_id_name = "tour_type_id";
        var table_name = "b2b_tour_type";
        if(this.checked == true){
            var status = 1;
        }else{
            var status = 0;
        }

        $.ajax({
            type: "POST",
            url: '/index/changeStatus',
            data: {
                table_id:table_id,
                table_id_name:table_id_name,
                table_name:table_name,
                status:status,
            },
            success: function(data){
                //console.log(data);
                if(data.code!=200){
                    layer.msg(data.msg);
                    return false;
                }else if(data.code==200) {
                    layer.msg('操作成功',{time:1,end : function(layero, index){

                        }
                    });
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                layer.msg('验证失败')
            }
        });
    });


</script>
</body>
</html>
