<!DOCTYPE html>
<html>
<head>
	{include file='public/head' /}
  	<title>layout 后台大布局 - Layui</title>
 	<style>
		.bill-picture{
			position: relative;
		}
		.upload-hide{
			display: none;
			position: absolute;
			left:0px;
			top:0px;
			background: rgba(0,0,0,0);
			width: 100%;
			height: 38px;
		}
	</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	
	<div class="layui-header">
	{include file='public/header' /}
	</div>
  
	 <div class="layui-side layui-bg-black">
	   <div class="layui-side-scroll">
	     <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		{include file='public/left_menu_web' /}
	   </div>
	 </div>
  
	<div class="layui-body">
	 
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
			<div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>首页</a>
					<a>网站设置</a>
					<a>幻灯片管理</a>
					<a><cite>添加幻灯片</cite></a>
				</span>
			</div>
			<br><br>
			<div class="layui-row" >
				<form class="layui-form layui-col-md4"  onSubmit="return slideAdd()">

					<div class="layui-form-item">
						<label class="layui-form-label input-required ">标题：</label>
						<div class="layui-input-block ">
							<input name="title"  id="title" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" type="text">
						</div>
					</div>
					<br/>
					<div class="layui-form-item">
						<label class="layui-form-label input-required ">图片：</label>
						<div class="layui-input-block bill-picture">
							<button type="button" class="layui-btn" id="pic">
								<i class="layui-icon">&#xe67c;</i>上传图片
							</button>
							<button type="button" class="layui-btn" id="pool">
								<i class="layui-icon">&#xe67c;</i>媒体库
							</button>
							<div class="upload-hide" onclick="submit_add(this)"></div>
						</div>
						<div id="u-img1" style="padding: 10px; margin-left: 100px">
						</div>
					</div>
					<br/>
					<div class="layui-form-item">
						<label class="layui-form-label">视频：</label>
						<div class="layui-input-block ">
							<input name="video"  id="video" placeholder="" autocomplete="off"
								   class="layui-input" type="text">
						</div>
					</div>
					<br/>
					<div class="layui-form-item">
						<label class="layui-form-label">按钮连接类型：</label>
						<div class="layui-input-block">
							<select name="href_type" id='href_type' lay-verify="required" lay-filter="bb">
								<option value="0">请选择</option>
								<option value="1">内部链接</option>
								<option value="2">外部链接</option>
							</select>
						</div>
					</div>
					<div class="out">
						<br/>
						<div class="layui-form-item" >

							<label class="layui-form-label">外部链接地址：</label>
							<div class="layui-input-block">
								<input id="without_href" name="without_href" placeholder="" autocomplete="off" class="layui-input" type="text">
							</div>
						</div>
					</div>
					<div class="in">
						<br/>
						<div class="layui-form-item">
							<label class="layui-form-label">内部链接类型：</label>
							<div class="layui-input-block">
								<select name="interior_type" id='interior_type' lay-filter="aa">
									<option value="0">请选择</option>
									<option value="1">旅游产品分类</option>
									<option value="2">旅游产品</option>
									<option value="3">文章分类</option>
									<option value="4">文章</option>
								</select>
							</div>
						</div>
						<br/>
						<div class="layui-form-item">
							<label class="layui-form-label">内部链接ID：</label>
							<div class="layui-input-block">
								<select name="interior_uuid" id='interior_uuid'>
								</select>
							</div>
						</div>
					</div>
					<br/>
					<div class="layui-form-item">
						<label class="layui-form-label input-required ">排序：</label>
						<div class="layui-input-block ">
							<input name="sort"  id="sort"  placeholder="" autocomplete="off" class="layui-input" type="text" value="0">
						</div>
					</div>
					<br/>
					<div class="layui-form-item">
							<label class="layui-form-label">状态:</label>
							<div class="layui-input-block">
								<select name="status" id='status' lay-verify="required">
									<option value="1" selected>启用</option>
									<option value="0">禁用</option>
								</select>
							</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<input type="hidden" id="ota_slide_list_uuid" value="{$Think.get.ota_slide_list_uuid}" >
							<button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" >提交</button>
							<a href="javascript:history.back(-1)"><button type="button" class="layui-btn layui-btn-primary">返回</button></a>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
{include file='public/foot_js' /}

<script>

	var form = layui.form;
	$(".out,.in").hide();
	form.on('select(bb)', function(b){
		var  href_type = b.value;
		if(href_type ==2){
			$(".out").show();
			$(".in").hide();
		}else if(href_type ==1){
			$(".out").hide();
			$(".in").show();
		}else {
			$(".out,.in").hide();
		}
	})
	form.on('select(aa)', function(a){
		var  interior_type = a.value;
		$.ajax({
			url:'/ota_system/getOtaMenuInteriorUuidAjax',
			type:"post",
			dataType:"json",
			data: {interior_type: interior_type},
			success: function (data) {
				console.log(data.data);
				var list=data.data;
				var html='';
				console.log(data);
				if(list){
					for(var i = 0, len = list.length; i < len; i++)
					{
						if(interior_type == 1){
							html+="<option value='" + list[i].uuid + "'>" +
									list[i].type_name + "</option>";
						}else if (interior_type == 2) {
							html+="<option value='" + list[i].uuid + "'>" +
									list[i].title + "</option>";
						}else if (interior_type == 3) {
							html+="<option value='" + list[i].uuid + "'>" +
									list[i].article_type_name + "</option>";
						}else if (interior_type == 4) {
							html+="<option value='" + list[i].uuid + "'>" +
									list[i].title + "</option>";
						}
					}
				}
				$("#interior_uuid").html(html);
				form.render();
			}

		});

	});

	function qq(aaa){

		layer.closeAll();
		var h = '<div style="padding: 5px;width: 110px;float: left" class="img_list"><div><img src="'+$(aaa).attr("src")+'" height="100" width="100" /><input type="hidden" value="'+$(aaa).attr("src")+'" name="title-picture" /></div><div><a class="layui-btn layui-btn-danger r-journey-img nav-edit" onclick="del(this)">删除</a></div></div>';
		$('#u-img1').append(h);
		$("#pic").siblings(".upload-hide").show();
	}


	$('#pool').on('click', function(){

		$.ajax({
			url:'/ota_media_pool/getMediaPoolListAjax',
			type:"post",
			dataType:"json",
			success: function (data) {
				console.log(data.data);
				var list=data.data;
				var html='';
				if(list){
					for(var i = 0, len = list.length; i < len; i++)
					{
						html += '<img src=" '+list[i].url+ '" height="300" width="200" onclick="qq(this)"/>'
					}
				}
				layer.open({
					type: 1,
					area: ['1200px', '900px'],
					shadeClose: true, //点击遮罩关闭
					content: html
				});
			}

		});

	});


	layui.use('upload', function(){
		var upload = layui.upload;

		//头部图片
		var uploadInst = upload.render({
			elem: '#pic' //绑定元素
			,url: '/demo/uploadOtaFile', //上传接口
			multiple:false,
			drag:'true'
			,acceptMime:'image/*'
			,accept:'images'
			,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
				layer.load(); //上传loading
			}
			,done: function(res){
				//上传完毕回调
				// console.log(res);
				layer.closeAll('loading'); //关闭loading
				if(res.code == 200){
					var h = '<div style="padding: 5px;width: 110px;float: left" class="img_list"><div><img src="'+res.data+'" height="100" width="100" /><input type="hidden" value="'+res.data+'" name="title-picture" /></div><div><a class="layui-btn layui-btn-danger r-journey-img nav-edit" onclick="del(this)">删除</a></div></div>';
					$('#u-img1').append(h);
					$("#pic").siblings(".upload-hide").show();
				}
			}
			,error: function(res){
				//请求异常回调
				console.log(res);
				layer.closeAll('loading'); //关闭loading
			}
		});
	});
	function del(obj){
		$(obj).parents("#u-img1").siblings(".bill-picture").find(".upload-hide").hide();
		$(obj).parents(".img_list").remove();
	}
	function submit_add(a){
		if($("#u-img1 .img_list").length==1){
			layer.msg('只能上传一张图片');
		}
	}
	// // var company_id = $("#company_id").val();
	// // if(company_id!=1){
	// //     $("#company_id").attr('disabled',"disabled");
	// //     form.render();
	// }

	function slideAdd(){

		if($("#u-img1 .img_list").length==0){
			layer.msg('没得图片，请找一张图片，爱你哦！', {icon: 5});
			return false;
		}
		var interior_type = $("#interior_type").val();
		var interior_uuid = $("#interior_uuid").val();
		var href_type = $("#href_type").val();
		var without_href = $("#without_href").val();
		var title = $("#title").val();
		var pic=$("#u-img1").find("img").attr("src");
		var url=$("#url").val();
		var sort=$("#sort").val();
		var video=$("#video").val();
		var status = $("#status").val();
		var ota_slide_list_uuid = $("#ota_slide_list_uuid").val();
		var data={
			ota_slide_list_uuid:ota_slide_list_uuid,
			title:title,
			pic:pic,
			url:url,
			sort:sort,
			status:status,
			interior_type:interior_type,
			interior_uuid:interior_uuid,
			href_type:href_type,
			without_href:without_href,
			video:video,
		}
		$.ajax({
			type: "POST",
			url: '/ota_slide/addSlideAjax',
			data: data,
			dataType: "json",
			success: function(data){
				if(data.code!=200){
					layer.msg(data.msg);
					return false;
				}else if(data.code==200) {
					layer.msg('success',{time:1,end : function(layero, index){
							//location.href='/ota_slide/showSlideManage?status=1&&ota_slide_list_uuid='+ota_slide_list_uuid;
							layer.load(2);
							history.back(-1);
						}
					});
				}
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
				layer.msg('验证失败')
			}
		});
		return false;
	}
</script>

</body>
</html>