<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>分公司管理</title>
    <link href="__STATIC__/css/branchcompany.css" rel="stylesheet">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
			<span class="layui-breadcrumb" lay-separator="-">
				<a>{$Think.lang.index_public_homepage}</a>
                <a>{$Think.lang.index_branchcompany_showBranchProductManage_branchManagement}</a>
				<a>{$Think.lang.index_branchcompany_showBranchProductManage_branchProduct}</a>
                <a><cite>{$Think.lang.index_branchcompany_showBranchProductManage_productInfo}</cite></a>
			</span>
            </div>
            <br/>
            <br/>

            <form class="layui-form" onSubmit="return companyproductEdit()" >
                <div class="branch-top">
                    {foreach name='$branch_product_result'  item='vo'}
                    <div class="layui-form-item">
                        <label class="layui-form-label input-required">团名:</label>
                        <div class="layui-input-block">
                            <input id="edit_team_name" name="team_name" value="{$vo.team_name}" required="required" lay-verify="required" placeholder="请输入团名称" autocomplete="off" class="layui-input" type="text" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label input-required">出发时间:</label>
                        <div class="layui-input-block">
                            <input id="edit_branch_product_begin_time" name="branch_product_begin_time" value="{$vo.branch_product_begin_time|date='Y-m-d',###}" required="required" lay-verify="required" placeholder="" autocomplete="off"  class="layui-input layui-input-date layui-form-danger" type="text" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label input-required">结束时间:</label>
                        <div class="layui-input-block">
                            <input id="edit_branch_product_end_time" name="branch_product_end_time" value="{$vo.branch_product_end_time|date='Y-m-d',###}" required="required" lay-verify="required" placeholder="" autocomplete="off"  class="layui-input layui-input-date layui-form-danger" type="text" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述:</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea" id="edit_remark" name="remark" disabled>{$vo.remark}</textarea>
                        </div>
                    </div>
                    {/foreach}
                    <div class="branch-btn">收起</div>
                </div>
                <!--<div class="layui-form-item">-->
                <!--<div class="layui-input-block">-->
                <!--<button class="layui-btn" lay-submit="" lay-filter="formDemo" id="">确定</button>-->
                <!--<a href='/branchcompany/showBranchProductManage'><button type="button" class="layui-btn layui-btn-primary">取消</button></a>-->
                <!--<input type="hidden" id="branch_product_hidden_branch_product_number" value="{$vo.branch_product_number}">-->
                <!--</div>-->
                <!--</div>-->

                <div id="add-product layui-row">
                    <!--<a class="layui-btn nav-add" onclick="addBranchCompany();" >添加</a>-->
                </div>
                <div>
                    <br>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>团队产品</legend>
                    </fieldset>
                    <div class="table-nont">
                        <table class="layui-table layui-form table-branchcompany-poper abc table-input-none" id="" style="table-layout:fixed">
                            <thead>
                            <tr>
                                <th style="width: 150px;">产品编号</th>
                                <th>产品类型</th>
                                <th>供应商</th>
                                <th>产品名称</th>
                                <!--<th>可选/必选商品</th>-->
                                <th>出发日期</th>
                                <th>计划收客</th>
                                <th>已收客</th>
                                <th>币种</th>
                                <th>报价</th>
                                <!--<th>操作</th>-->
                                <th style="display:none;">cost</th>
                            </tr>
                            </thead>
                            <tbody id="new">
                            {volist name='branch_product_team_result' id='v' key="k"}
                            <tr>
                                <td style="display:none" type="1">{$v.branch_product_team_id}</td>
                                <td>{$v.team_product_number}</td>
                                <td>团队产品</td>
                                <td>{$v.supplier_name}</td>
                                <td>{$v.team_product_name}</td>
                                <!--<td>-</td>-->
                                <td>{$v.begin_time|date='Y-m-d',###}</td>
                                <td>{$v.plan_custom_number}</td>
                                <td>-</td>
                                <td>
                                    <select name="interest" lay-filter="aihao" disabled>
                                        {volist name="currency_result_data" id="cc"}
                                        <option value="{$cc.currency_id}" {if condition="$cc.currency_id eq $v.price_currency_id"}selected{/if}>{$cc.currency_name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td><input type="text" class="layui-input" value="{$v.branch_price}" disabled></td>
                                {if condition="v.own_expense_array neq ''"}
                                <td style="display:none" rowspan="{php}echo count($v['own_expense_array'])+1;{/php}"><a href="javascript:(0)" class='layui-btn layui-btn-sm del_team hover-edit layui-btn-primary' team_product_number="{$v.team_product_number}" branch_product_number="{$v.branch_product_number}">删除</a></td>
                                {else/}
                                <td rowspan="1" style="display:none"><a href="javascript:(0)" class='layui-btn layui-btn-sm del_team hover-edit layui-btn-primary' team_product_number="{$v.team_product_number}" branch_product_number="{$v.branch_product_number}">删除</a></td>
                                {/if}
                                <td class="cost" style="display:none;">{$v.branch_cost}</td>
                                <td class="currency" style="display:none;">{$v.cost_currency_id}</td>
                            </tr>
                            {volist name="v.own_expense_array" id="v_result"}

                            <tr>
                                <td style="display:none" type="2">{$v_result.branch_product_source_id}</td>
                                <td>{$v_result.branch_product_number}</td>
                                <td>自费项目</td>
                                <td>{$v_result.supplier_name}</td>
                                <td>{$v_result.source_name}</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    <select name="interest" lay-filter="aihao" disabled>
                                        {volist name="currency_result_data" id="cc"}
                                        <option value="{$cc.currency_id}" {if condition="$cc.currency_id eq $v_result.price_currency_id"}selected{/if}>{$cc.currency_name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td><input type="text" class="layui-input" value="{$v_result.source_price}" disabled></td>
                                <th style="display:none;">{$v_result.source_id}</th>
                                <td class="cost" style="display:none;">{$v_result.source_cost}</td>
                                <td class="currency" style="display:none;">{$v_result.cost_currency_id}</td>

                            </tr>
                            {/volist}
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>资源</legend>
                    </fieldset>
                    <div class="table-nont">
                        <table class="layui-table layui-form table-branchcompany-poper eee table-input-none" id="" style="table-layout:fixed">
                            <thead>
                            <tr>
                                <th style="width: 150px;">产品编号</th>
                                <th>产品类型</th>
                                <th>供应商</th>
                                <th>产品名称</th>
                                <th>出发日期</th>
                                <th>计划收客</th>
                                <th>已收客</th>
                                <th>币种</th>
                                <th>报价</th>
                                <th style="display:none">操作</th>
                                <th style="display:none;">cost</th>
                            </tr>
                            </thead>

                            <tbody id="newTwo">
                            {foreach name='branch_source_result' item='v'}
                            <tr>
                                <td style="display:none" type="2">{$v.branch_product_source_id}</td>
                                <td>{$v.source_number}</td>
                                <td>
                                    {php}
                                    if($v['supplier_type_id']==2){
                                    echo "酒店";
                                    }else if($v['supplier_type_id']==3){
                                    echo '用餐';
                                    }else if($v['supplier_type_id']==4){
                                    echo '航班';
                                    }else if($v['supplier_type_id']==5){
                                    echo '邮轮';
                                    }else if($v['supplier_type_id']==6){
                                    echo '签证';
                                    }else if($v['supplier_type_id']==7){
                                    echo '景点 ';
                                    }else if($v['supplier_type_id']==8){
                                    echo '车辆';
                                    }else if($v['supplier_type_id']==9){
                                    echo '导游';
                                    }else if($v['supplier_type_id']==10){
                                    echo '单项资源';
                                    }else if($v['supplier_type_id']==11){
                                    echo '自费项目';
                                    }

                                    else{
                                    echo '';
                                    }



                                    {/php}

                                </td>
                                <td>{$v.supplier_name}</td>
                                <td>{$v.source_name}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <select name="interest" lay-filter="aihao" disabled>
                                        {volist name="currency_result_data" id="cc"}
                                        <option value="{$cc.currency_id}" {if condition="$cc.currency_id eq $v.price_currency_id"}selected{/if}>{$cc.currency_name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td><input type="text" class="layui-input" value="{$v.source_price}" disabled></td>
                                <td style="display:none"><a href="javascript:(0)" class='layui-btn layui-btn-sm del_source hover-edit layui-btn-primary' branch_product_source_id="{$v.branch_product_source_id}">删除</a></td>
                                <td class="cost" style="display:none;">{$v.source_cost}</td>
                                <td class="currency" style="display:none;">{$v.cost_currency_id}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div class="layui-form-item">
                        <div class="all-button-center">
                            <!--<button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="">立即提交</button>-->
                            <a href='/branchcompany/showBranchProductManage'><button type="button" class="layui-btn layui-btn-primary">返回</button></a>
                            <input type="hidden" id="branch_product_hidden_branch_product_number" value="{$vo.branch_product_number}">
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
    <br>
    <br>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
    <script id="abcTable" type="text/html">
        {{#  layui.each(d, function(index, item){ }}
        <tbody class="new" data-value="{{index}}">
        <tr>
            <td><a href="#">{{item.team_product_number}}</a></td>
            <td>团队产品</td>
            <td>{{item.supplier_name}}</td>
            <td>{{item.team_product_name}}</td>
            <td>-</td>
            <td>{{item.begin_time}}</td>
            <td>{{item.plan_custom_number}}</td>
            <td></td>
        </tr>
        {{#  if(item.own_expense_array){ }}
        {{#  layui.each(item.own_expense_array, function(indexs, items){ }}
        <tr class="child">
            <td><a href="#">{{items.source_number}}</a></td>
            <td>自费项目</td>
            <td>{{items.supplier_name}}</td>
            <td>{{items.source_name}}</td>
            <td></td>
            <td>-</td>
            <td>-</td>
            <!--<td></td>-->
            <th style="display:none;">{{items.source_id}}</th>
        </tr>
        {{#  }); }}
        {{#  } }}
        </tbody>
        {{#  }); }}
    </script>
    <script id="abcTableTwo" type="text/html">
        {{#  layui.each(d, function(index, item){ }}
        <tbody class="newTwo" data-value="{{index}}">
        <tr>
            <td><a href="#">{{item.source_number}}</a></td>
            <td>{{item.supplier_type_name}}</td>
            <td>{{item.supplier_name}}</td>
            <td>{{item.source_name}}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        </tbody>
        {{#  }); }}
    </script>

    <!--添加弹出表格-->
    <script id="branchTips" type="text/html">
        <form class="layui-form">
            <div class='layui-input-inline'>
                <select name="branchcompanyType" id="branchcompanytype_search" lay-filter="branchcompanyType">
                    <option value="">请选择产品类型</option>
                    <option value="0">团队产品</option>
                    <option value="1">资源</option>
                </select>
            </div>
            <div class='layui-input-inline layui-input-hide' style="display:none;">
                <select name="branchcompanyRouteType" id="branchroutetype_search">
                    <option value="">请选择线路类型</option>
                   
                    <option value="2">酒店</option>
                    <option value="3">用餐</option>
                    <option value="4">航班</option>
                    <option value="5">邮轮</option>
                    <option value="6">签证</option>
                    <option value="7">景点</option>
                    <option value="8">车辆</option>
                    <option value="9">导游</option>
                    <option value="10">单项资源</option>
                    <option value="11">自费项目</option>
                </select>
            </div>
            <!--<div class='layui-input-inline layui-input-hide' style="display:none;">-->
                <!--<input type="text" id="" name="source_number_search"  placeholder="产品编号" class="layui-input">-->
            <!--</div>-->
            <!--<div class='layui-input-inline layui-input-hide' style="display:none;">-->
                <!--<input type="text" id="" name="source_name_search"  placeholder="产品名称" class="layui-input">-->
            <!--</div>-->
            <!--<div class='layui-input-inline layui-input-hide' style="display:none;">-->
            <!--<input type="text" id="" name="productPopel"  placeholder="负责人、联系人" class="layui-input">-->
            <!--</div>-->
            <div class='layui-input-inline'>
                <a href="javascript:void(0);" class="layui-btn" onclick="team_product_search('edit');">搜索</a>
            </div>
        </form>
        <div class="lay-tab-box">
            <table class="layui-table layui-form table-branchcompany-poper" id="poperTable" style="table-layout:fixed;display:none;">
                <colgroup>
                    <col width="50">
                    <col width="180">
                    <col width="180">
                    <col width="160">
                    <col width="200">
                    <col width="120">
                    <col width="180">
                    <col width="120">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" name="branchcompanyCheckboxTable" lay-skin="primary" lay-filter="poperCheckboxAll"></th>
                    <th>产品编号</th>
                    <th>产品类型</th>
                    <th>供应商</th>
                    <th>产品名称</th>
                    <th>天数</th>
                    <th>线路类型</th>
                    <th>出发日期</th>
                    <th>计划收客</th>
                    <th>已收客</th>
                    <th>币种</th>
                    <th>报价</th>
                </tr>
                </thead>
                {volist name="team_product_source_result" id="vo"}
                <tbody class="branchcompanyPoper">
                <tr>
                    <td><input type="checkbox" name="productCheckboxTable" lay-skin="primary"></td>
                    <td class="a">{$vo.team_product_number}</td>
                    <td class="b">团队产品</td>
                    <td class="c">无锡</td>
                    <td class="d">{$vo.team_product_name}</td>
                    <td>{$vo.base_count}</td>
                    <td>{$vo.route_type_name}</td>
                    <td class="e">{$vo.begin_time}</td>
                    <td class="f">{$vo.plan_custom_number}</td>
                    <td class="g"> - </td>
                    <td>人民币</td>
                    <td>{if condition="$vo.settlement_type eq 1"}{$vo.once_price}{else}{$vo.real_price}{/if}</td>
                </tr>
                </tbody>
                <tbody class="branchcompanyPoper">
                {volist name="vo.own_expens_source_array" id="vv"}
                <tr>
                    <td class="one"></td>
                    <td class="a"><a href="#">{$vv.source_number}</a></td>
                    <td class="b">自费项目</td>
                    <td class="c">{$vv.supplier_name}</td>
                    <td class="d">{$vv.own_expense_name}</td>
                    <td class="e">-</td>
                    <td class="f">-</td>
                    <td class="g">-</td>
                    <td class="h" style="display:none;">{$vv.source_id}</td>
                    <td class="i">-</td>
                    <td class="j">人民币</td>
                    <td class="k">{$vv.source_total_price}</td>
                </tr>
                {/volist}
                </tbody>
                {/volist}
            </table>

            <table class="layui-table layui-form table-branchcompany-poper" id="sourceTable" style="table-layout:fixed;display:none;">
                <colgroup>
                    <col width="50">
                    <col width="180">
                    <col width="180">
                    <col width="160">
                    <col width="200">
                    <col width="120">
                    <col width="180">
                    <col width="120">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" name="branchcompanyCheckboxTable" lay-skin="primary" lay-filter="poperCheckboxAllTwo"></th>
                    <th>产品编号</th>
                    <th>产品类型</th>
                    <th>供应商</th>
                    <th>产品名称</th>
                    <th>天数</th>
                    <th>线路类型</th>
                    <th>出发日期</th>
                    <th>计划收客</th>
                    <th>已收客</th>
                    <th>币种</th>
                    <th>报价</th>
                </tr>
                </thead>
                {volist name="team_product_source_result" id="vo"}
                <tbody class="branchcompanyPoperTwo">
                <tr>
                </tr>
                </tbody>
                {/volist}
            </table>
        </div>
    </script>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/branchcompany/all.js'></script>
<script src='__STATIC__/javascript/branchcompany/branchcompany.js'></script>
</body>
</html>

<script>


</script>