<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>flight-manage-edit</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$Think.lang.index_public_homepage}</a>
					<a>{$Think.lang.index_source_showFlightSourceManage_source_administrate}</a>
					<a>{$Think.lang.index_source_showFlightSourceManage_flight_administrate}</a>
					<a>{$Think.lang.index_source_showFlightSource_source}</a>
					<a><cite>{$Think.lang.index_source_showFlightSource_info}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <form class="layui-form all-detail" onSubmit="">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_supplier}:</label>
                            <div class="layui-input-block all-select">
                                <select name="supplier_id" id='info_flight_supplier_id' disabled lay-verify="required">
                                    {foreach name='data' item='vo'}
                                    <option value="{$vo.supplier_id}" {if condition="$vo.supplier_id eq $flight_result.belong_supplier_id"}selected="seleted"{/if}>{$MultilingualAll['supplier-supplier_name-'.$vo.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.supplier_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {if condition="$flight_result.supplier_id neq $flight_result.belong_supplier_id"}
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_own_agent}:</label>
                            <div class="layui-input-block">
                                {$MultilingualAll['supplier-supplier_name-'.$flight_result.supplier_id.'-'.$Think.session.user.language_id][0]['translate']|default=$flight_result.supplier_name}
                            </div>
                        </div>
                    </div>
                </div>
                {/if}
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_public_status}:</label>
                            <div class="layui-input-block all-select">
                                <select name="status" id='info_flight_status' disabled lay-verify="required">
                                    <option value="1" {if condition="1 eq $flight_result['status']"}selected="seleted"{/if}>{$Think.lang.index_public_show}</option>
                                    <option value="2" {if condition="2 eq $flight_result['status']"}selected="seleted"{/if}>{$Think.lang.index_public_disabled}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_number}:</label>
                            <div class="layui-input-block">
                                {$flight_result.flight_number}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_start}:</label>
                            <div class="layui-input-block all-select">
                                <select name="begin_country_id" id="info_flight_begin_country_id" disabled lay-verify="required">
                                    <option> </option>
                                    {foreach name='country_s3_result'  item='vo'}
                                    <option value="{$vo.country_id}" {if condition="$vo.country_id eq $flight_result.begin_country_id"}selected="seleted"{/if}>{$MultilingualAll['country-country_name-'.$vo.country_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.country_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_end}:</label>
                            <div class="layui-input-block all-select">
                                <select name="end_country_id" id="info_flight_end_country_id" disabled lay-verify="required">
                                    <option value="0"> </option>
                                    {foreach name='country_s3_result'  item='vo'}
                                    <option value="{$vo.country_id}" {if condition="$vo.country_id eq $flight_result.end_country_id"}selected="seleted"{/if}>{$MultilingualAll['country-country_name-'.$vo.country_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.country_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_public_company}:</label>
                            <div class="layui-input-block">
                                {$MultilingualAll['company-company_name-'.$flight_result.company_id.'-'.$Think.session.user.language_id][0]['translate']|default=$flight_result.company_name}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_airplane_type_name}:</label>
                            <div class="layui-input-block">
                                {$flight_result.airplane_type_name}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_shipping_space}:</label>
                            <div class="layui-input-block">
                                {$flight_result.shipping_space}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-form-item">
                        <div class="layui-col-md4">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_currency}:</label>
                            <div class="layui-input-block all-select">
                                <select name="payment_currency_type" id="payment_currency_type" lay-verify="required" disabled>
                                    <option> </option>
                                    {foreach name='currency_data_result '  item='vo'}
                                    <option  value="{$vo.currency_id}" {if condition="$vo.currency_id eq $flight_result.payment_currency_type"} selected="seleted"{/if}>{$MultilingualAll['currency-currency_name-'.$vo.currency_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.currency_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.lang.index_source_showFlightSourceManage_UnitPrice}:</label>
                            <div class="layui-input-block table-nont">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="25%">
                                        <!--<col width="20%">-->
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>{$Think.lang.index_source_showFlightSourceManage_UnitPrice_Type}</th>
                                        <th>{$Think.lang.index_public_costprice}</th>
                                        <th>{$Think.lang.index_public_settlementprice}</th>
                                        <!--<th>建议客户售价</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{$Think.lang.index_source_showFlightSourceManage_All_UnitPrice}:</td>
                                        <td class="all-select">
                                            <input type="text" name="normal_price" id="info_flight_normal_price" value="{$flight_result.normal_price}" disabled lay-verify="required" autocomplete="off" class="layui-input">
                                        </td>
                                        <td class="all-select">
                                            <input type="text" name="normal_settlement_price" id="info_flight_normal_settlement_price" value="{$flight_result.normal_settlement_price}" disabled lay-verify="required" autocomplete="off" class="layui-input">
                                        </td>
                                        <!--<td>-->
                                            <!--<input type="text" name="normal_retail_price" id="info_flight_normal_retail_price" value="{$flight_result.normal_retail_price}" disabled lay-verify="required" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td>成人:</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="adult_price" id="info_flight_adult_price" value="{$flight_result.adult_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="adult_settlement_price" id="info_flight_adult_settlement_price" value="{$flight_result.adult_settlement_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="adult_retail_price" id="info_flight_adult_retail_price" value="{$flight_result.adult_retail_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>占床儿童:</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="child_bed_price" id="info_flight_child_bed_price" value="{$flight_result.child_bed_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="child_bed_settlement_price" id="info_flight_child_bed_settlement_price" value="{$flight_result.child_bed_settlement_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="child_bed_retail_price" id="info_flight_child_bed_retail_price" value="{$flight_result.child_bed_retail_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>老人:</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="old_price" id="info_flight_old_price" value="{$flight_result.old_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="old_settlement_price" id="info_flight_old_settlement_price" value="{$flight_result.old_settlement_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="old_retail_price" id="info_flight_old_retail_price" value="{$flight_result.old_retail_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>不占床儿童:</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="child_price" id="info_flight_child_price" value="{$flight_result.child_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="child_settlement_price" id="info_flight_child_settlement_price" value="{$flight_result.child_settlement_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="child_retail_price" id="info_flight_child_retail_price" value="{$flight_result.child_retail_price}" disabled lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>单房差:</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="single_price" id="edit_flight_single_price" value="{$flight_result.single_price}" lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="single_settlement_price" id="edit_flight_single_settlement_price" value="{$flight_result.single_settlement_price}" lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<input type="text" name="single_retail_price" id="edit_flight_single_retail_price" value="{$flight_result.single_retail_price}" lay-verify="" autocomplete="off" class="layui-input">-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <!--<div class="layui-form-item layui-form-text">-->
                    <!--<label class="layui-form-label">说明:</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<textarea id="edit_flight_remark" name="remark" placeholder="请输入内容" class="layui-textarea">{$flight_result.remark}-->
                        <!--</textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a href='javascript:history.back(-1)'><button type="button" class="layui-btn layui-btn-primary">{$Think.lang.index_public_back}</button></a>
                        <input type="hidden" id="flight_hidden_flight_id" value="{$flight_result.flight_id}">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/system/source.js'></script>
</body>
</html>
