

<script type="text/javascript">

    var contain="{$language_tag.index_bookings_showBookingList_contain}";
    var notContain="{$language_tag.index_bookings_showBookingList_not_contain}";
    var start="{$language_tag.index_bookings_showBookingList_begin_with}";
    var end="{$language_tag.index_bookings_showBookingList_end_with}";
    var isnull="{$language_tag.index_bookings_showBookingList_empty}";
    var notNull="{$language_tag.index_bookings_showBookingList_not_empty}";
    var all="{$language_tag.index_bookings_showBookingList_all}";
    var yesterday="{$language_tag.index_bookings_showBookingList_yesterday}";
    var thisWeek="{$language_tag.index_bookings_showBookingList_this_week}";
    var lastWeek="{$language_tag.index_bookings_showBookingList_last_week}";
    var thisMonth="{$language_tag.index_bookings_showBookingList_this_month}";
    var thisYear="{$language_tag.index_bookings_showBookingList_this_year}";
    var editConditions="{$language_tag.index_bookings_showBookingList_edit_conditions}";
    var table_column="{$language_tag.index_bookings_showBookingList_table_column}";
    var screen_data="{$language_tag.index_bookings_showBookingList_screen_data}";
    var for_screening="{$language_tag.index_bookings_showBookingList_conditions_for_screening}";
    var ascending_sort="{$language_tag.index_bookings_showBookingList_ascending_sort}";
    var descending_sort="{$language_tag.index_bookings_showBookingList_descending_sort}";
    var keyword_search="{$language_tag.index_bookings_showBookingList_keyword_search}";
    var all_election="{$language_tag.index_bookings_showBookingList_all_election}";
    var empty="{$language_tag.index_bookings_showBookingList_empty}";
    var reverse_election="{$language_tag.index_bookings_showBookingList_reverse_election}";
    var with_without="{$language_tag.index_bookings_showBookingList_with_without}";
    var tValue="{$language_tag.index_bookings_showBookingList_value}";
    var tAdd="{$language_tag.index_bookings_showBookingList_add}";
    var tSearch="{$language_tag.index_bookings_showBookingList_search}";
    var no_data="{$language_tag.index_bookings_showBookingList_no_data}";
    var add_condition="{$language_tag.index_bookings_showBookingList_add_condition}";
    var add_group="{$language_tag.index_bookings_showBookingList_add_group}";
    var realtime_update="{$language_tag.index_bookings_showBookingList_realtime_update}";
    var edit_condition="{$language_tag.index_bookings_showBookingList_edit_condition}";
    var totalAll="{$language_tag.index_bookings_showBookingList_total}";
    var selection_date="{$language_tag.index_bookings_showBookingList_selection_date}";
    var please_choose="{$language_tag.index_bookings_showBookingList_please_choose}";
    var please_input="{$language_tag.index_bookings_showBookingList_please_input}";
    var group="{$language_tag.index_bookings_showBookingList_group}";
    var specific_dates="{$language_tag.index_bookings_showBookingList_filter_specific_dates}";
    var unknown="{$language_tag.index_bookings_showBookingList_unknown}";
    var zero_data="{$language_tag.index_bookings_showBookingList_zero_data}";
    var downloading="{$language_tag.index_bookings_showBookingList_downloading}";
    var tableAll="{$language_tag.index_bookings_showBookingList_table}";
    var request_exception="{$language_tag.index_bookings_showBookingList_request_exception}";

</script>