<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>{$language_tag.index_finance_CostSharingList_apportion_proportion}</title>
    <link href="__STATIC__/css/product.css" rel="stylesheet">
    <link href="__STATIC__/css/finance.css" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">
        <div style="padding: 15px 15px 0px;">
        <div class="body-top">
            <div class='layui-form-item'>
                <span class="layui-breadcrumb" lay-separator="-">
                   <a>{$language_tag.index_public_homepage}</a>
                    <a>{$language_tag.index_public_finance}</a>
                    <a><cite>{$language_tag.index_finance_CostSharingList_apportion_proportion}</cite></a>
                </span>
            </div>
            <br>
            <div class='layui-block input-inline'>
                <form class="layui-form mustpay-form" method='get' action='/finance/CostSharingList'>
                    <div class='layui-input-inline'>
                        <select name="year"  >
                            <?php for($i=date('Y');$i>=(date('Y')-20);$i--){?>
                            <option value="{$i}" {$i==$_GET['year']?'selected':''}>{$i}{$language_tag.index_finance_CostSharingList_year}</option>
                            <?php }?>
                        </select>
                    </div>

                    <div class='layui-button-inline layui-search-inline'>
                        <button class="layui-btn nav-search" >{$language_tag.index_public_search}</button>
                    </div>
                </form>

            </div>
            <hr><br>
        </div>

            <div class="table-nont pageHeight">
                <table class="layui-table layui-form"  id="">
                    <thead>
                    <tr>
                        <td>{$language_tag.index_finance_CostSharingList_year_time}</td>
                        <td>{$language_tag.index_finance_CostSharingList_month_time}</td>
                        <td>{$language_tag.index_public_status}</td>
                        <td>{$language_tag.index_source_operation}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <?php for($i=12;$i>=1;$i--){?>
                    <tr>
                        <td>{$year}{$language_tag.index_finance_CostSharingList_year}</td>
                        <td>{$i}{$language_tag.index_finance_CostSharingList_month}</td>
                        <td>{$ApportionProportionList[$i]?$language_tag.index_finance_CostSharingList_yes_add_apportion_proportion:$language_tag.index_finance_CostSharingList_not_add_apportion_proportion}</td>
                        <td>
                            <span style="{:action('index/auth/check_auth',['role_id'=>'263'])}"><a href="/finance/CostSharingInfo?year={$year}&month={$i}" class="layui-btn layui-btn-sm hover-edit layui-btn-primary">{$language_tag.index_public_update}</a></span></td>
                        </td>
                    </tr>
                    <?php }?>
                    </tbody>
                </table>
            </div>


        </div>


    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/product/all.js'></script>
<script src='__STATIC__/javascript/finance/receivable.js'></script>
</body>
</html>
