<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>客户管理</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px 15px 0px;">
            <div class="body-top">
                <div class='layui-form-item'>
                <span class="layui-breadcrumb" lay-separator="-">
                    <a>销售管理</a>
                    <a><cite>客户管理</cite></a>
                </span>
                </div>
                <br/>
                <div class='layui-block input-inline'>
                    <form action="/sale/setCustomerManage" method="post" >
                        <div class='layui-inline' >
                            <div class='layui-input-inline'>
                                <input type="text" name="search_Id" value="{$setCustomerManage.search_Id}" placeholder="ID" class="layui-input">
                            </div>
                            <div class='layui-input-inline'>
                                <input type="text" name="search_Name" value="{$setCustomerManage.search_Name}" placeholder="名称" class="layui-input">
                            </div>

                            <div class='layui-input-inline'>
                                <div class="layui-form">
                                    <input type="text" name="search_phone" value="{$setCustomerManage.search_phone}"  placeholder="手机" class="layui-input">
                                </div>
                            </div>

                            <div class='layui-button-inline layui-search-inline'>
                                <button class="layui-btn nav-search">搜索</button>
                                <!--<a href="/sale/clearCustomerManage" class="layui-btn layui-btn-primary">清除</a>-->
                            </div>
                        </div>
                    </form>
                    <div class='layui-button-inline'>
                        <a href='/sale/showCustomerAdd'><button class="layui-btn nav-add">添加客户</button></a>
                    </div>
                </div>
                <hr><br>
            </div>
            <div class="table-nont user-manage pageHeight">
                <table class="layui-table" id="language-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>手机</th>
                        <th>邮箱</th>
                        <th class="layui-table-width">操作</th>
                    </tr>
                    </thead>

                    {empty name='CustomerList'}

                    {else /}
                    {foreach $CustomerList as $CustomerListV}
                    <tr>
                        <th>{$CustomerListV.customer_id}</th>
                        <th>{$CustomerListV.customer_name}</th>
                        <th>{$CustomerListV.phone}</th>
                        <th>{$CustomerListV.email}</th>
                        <th>
                            <a href='/sale/showCustomerEdit?id={$CustomerListV.customer_id}'><button class="layui-btn layui-btn-sm hover-edit layui-btn-primary">修改</button></a>
                            <a href='/sale/showCustomerInfo?id={$CustomerListV.customer_id}'><button class="layui-btn layui-btn-sm hover-details layui-btn-primary">详情</button></a>
                        </th>
                    </tr>
                    {/foreach}
                    {/empty}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script>
    //JavaScript代码区域
    !function(){
        var layer = layui.layer ;
        var form = layui.form;

    }();

</script>
</body>
</html>

<script>


</script>