<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>language-manage-add</title>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$language_tag.index_public_homepage}</a>
                    <a>{$language_tag.index_public_product}</a>
				    <a>{$language_tag.index_product_showRouteTemplateManage_routeType}</a>
					<a><cite>{$language_tag.index_product_showRouteTypeManage_addRouteType}</cite></a>
				</span>
            </div>
            <br/>
            <br/>
            <div class="layui-row">
                <form class="layui-form layui-col-md4" onSubmit="return route_type_add()">
                    <div class="layui-form-item">
                        <label class="layui-form-label input-required">{$language_tag.index_product_showRouteTypeManage_typeName}：</label>
                        <div class="layui-input-block">
                            <input id="route_type_name" name="route_type_name" required="" lay-verify="required" placeholder="{$language_tag.index_product_showRouteTypeManage_typeName}" autocomplete="off" class="layui-input" type="text">
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item">
                        <label class="layui-form-label input-required">{$language_tag.index_public_type}：</label>
                        <div class="layui-input-block">
                            <select name="pid" id="route_type_pid" lay-filter="required" lay-search>
                                <option value="0">{$language_tag.index_product_showRouteTypeEdit_first_level}</option>
                                {foreach $cateList as $vl}
                                <option value="{$vl.route_type_id}">{$vl.route_type_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item">
                        <div class="layui-form-label input-required">{$language_tag.index_product_showRouteTypeEdit_circuit_type_principal}:</div>
                        <div class="layui-input-block">
                            <select required lay-verify="required" name="route_type_user_id" id="route_type_user_id" lay-search>
                                <option></option>
                                {foreach $UserList as $vl}
                                <option value="{$vl.user_id}" {if $_GET['route_template_id']}{$vl.user_id==$RouteTemplate.route_user_id?'selected':''}{else /}{$UserId==$vl.user_id?'selected':''}{/if}>{$vl.nickname}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item">
                        <div class="layui-form-label input-required">{$language_tag.index_product_showRouteTypeManage_circuit_coding}:</div>
                        <div class="layui-input-block">
                            <input  class="layui-input"  lay-verify="required" name="route_type_code" id="route_type_code" type="text" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label input-required">{$language_tag.index_public_company}:</label>
                        <div class="layui-input-block">
                            <select {$Think.session.user.company_id!=1?'disabled':''} name="choose_company_id" id="choose_company_id" lay-verify="required" >
                                <option value="0">{$language_tag.index_source_showSupplier_choose_company}</option>
                                {foreach name='company_result'  item='vo'}
                                <option value="{$vo.company_id}" {if condition="$vo.company_id eq $Think.session.user.company_id"}selected='selected'{/if}>{$MultilingualAll['company-company_name-'.$vo.company_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.company_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$language_tag.index_public_status}：</label>

                        <div class="layui-input-block">
                            <select name="status" id="route_type_status" lay-filter="required" >
                                <option value="1" selected="selected">{$language_tag.index_public_show}</option>
                                <option value="0">{$language_tag.index_public_disabled}</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="route_type_add_button">{$language_tag.index_public_submit}</button>
                            <a href="#" onClick="javascript :history.back(-1);"><button type="button" class="layui-btn layui-btn-primary">{$language_tag.index_public_back}</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/system/product.js'></script>
</body>
</html>
