<!DOCTYPE html>
<html>
<head>
	{include file='public/head' /}
  	<title>layout 后台大布局 - Layui</title>
 
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	
	<div class="layui-header">
	{include file='public/header' /}
	</div>
  
	 <div class="layui-side layui-bg-black">
	   <div class="layui-side-scroll">
	     <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		{include file='public/left_menu' /}
	   </div>
	 </div>
  
	<div class="layui-body">
	 
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
			<div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>首页</a>
					<a>系统设置</a>
					<a>税点管理</a>
					<a><cite>添加税点</cite></a>
				</span>
			</div>
			<br><br>
			<div class="layui-row">
				<form class="layui-form layui-col-md4"  onSubmit="return taxAdd()">
					<div class="layui-form-item">
						<label class="layui-form-label input-required">公司:</label>
						<div class="layui-input-block">

							<select  id='choose_company_id' {if condition='$Think.session.user.company_id neq 1'}disabled{/if}  name="company_id" lay-verify="required" >
								<option value="" >- - 请选择 - -</option>
								{foreach name='company_result'  item='vo'}
	
								<option {if condition='$Think.session.user.company_id eq $vo.company_id'}selected{/if} value="{$vo.company_id}">{$vo.company_name}</option>
							
								{/foreach}
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">TxCd:</label>
						<div class="layui-input-block">
							<input id="tx_cd"   placeholder="请输入税号" autocomplete="off" class="layui-input" type="text" lay-verify="required">


						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">GSTRate:</label>
						<div class="layui-input-block">
							<input id="gst_rate"   placeholder="请输入商品服务税(%)" autocomplete="off" class="layui-input" type="number" lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">PSTRate:</label>
						<div class="layui-input-block">
							<input id="pst_rate"   placeholder="请输入省税(%)" autocomplete="off" class="layui-input" type="number" lay-verify="required">


							
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">HSTRate:</label>
						<div class="layui-input-block">
							<input id="hst_rate"   placeholder="请输入协调销售税(%)" autocomplete="off" class="layui-input" type="number" lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">otx:</label>
						<div class="layui-input-block" >
							<input id="otx"   placeholder="税名(%)" autocomplete="off" class="layui-input" type="number" lay-verify="required">
						</div>
			
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">Note:</label>
						<div class="layui-input-block">
							<input id="note"   placeholder="备注" autocomplete="off" class="layui-input" type="text" lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" >提交</button>
							<!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
							<a href="/system/showTaxManage"><button type="button" class="layui-btn layui-btn-primary">返回</button></a>
						</div>
					</div>
				</form>
			</div>
		 
		</div>
	</div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
{include file='public/foot_js' /}

<script src='__STATIC__/javascript/system/system.js'></script>

</body>
</html>