<!DOCTYPE html>
<html>
<head>
    {include file='public/head' /}
    <title>发团毛利统计</title>
    <link href="__STATIC__/css/product.css" rel="stylesheet">
    <style>
        .layui-body{
            overflow: hidden;
        }
        .layui-body .layui-table-main{
            overflow: auto;
            height:350px;
            margin-top:10px;
            border-top:1px solid #e6e6e6;
        }
        .layui-body table{
            margin:0px;
        }
        @media screen and (min-width:1680px){
            .layui-body .layui-table-main{
                height:580px;
            }
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {include file='public/header' /}
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {include file='public/left_menu' /}
        </div>
    </div>

    <div class="layui-body layui-body-bg">

        <!-- 内容主体区域 -->
        <div style="padding: 15px 15px 0px;">
            <div class="body-top">
                <div class='layui-form-item'>
                    <span class="layui-breadcrumb" lay-separator="-">
                        <a>首页</a>
                        <a>财务管理</a>
                        <a><cite>发团毛利统计</cite></a>
                    </span>
                </div>
                <div class='layui-block all-search-bg'>
                    <form class="layui-form" action="/finance/grossProfitStatistics" method="get" >
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">出团日期:</label>
                                    <div class="layui-input-block">
                                        <div class="layui-input-inline date-width">
                                            <input type="text" value="{$_GET['sDate']}" name="sDate" id="sDate" placeholder="请选择日期" autocomplete="off" class="layui-input sales-date">
                                        </div>
                                        <div class="date-and">-</div>
                                        <div class="layui-input-inline date-width">
                                            <input type="text" value="{$_GET['eDate']}" name="eDate" id="eDate" placeholder="请选择日期" autocomplete="off" class="layui-input sales-date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">线路类型:</label>
                                    <div class="layui-input-block">
                                        <select  name="route_type_id">
                                            <option value=""></option>
                                            <optgroup label="华人团">
                                                {foreach $RouteType[1] as $v}
                                                <option value="{$v.route_type_id}" {$_GET['route_type_id']==$v.route_type_id?'selected':''}>{$v.route_type_name}</option>
                                                {/foreach}
                                            </optgroup>
                                            <optgroup label="老外团">
                                                {foreach $RouteType[2] as $v}
                                                <option value="{$v.route_type_id}" {$_GET['route_type_id']==$v.route_type_id?'selected':''}>{$v.route_type_name}</option>
                                                {/foreach}
                                            </optgroup>
                                            <optgroup label="其他">
                                                {foreach $RouteType[3] as $v}
                                                <option value="{$v.route_type_id}" {$_GET['route_type_id']==$v.route_type_id?'selected':''}>{$v.route_type_name}</option>
                                                {/foreach}
                                            </optgroup>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">产品编号:</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="team_product_number" value="{$_GET['team_product_number']}"  placeholder="" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">产品名称:</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="team_product_name" value="{$_GET['team_product_name']}"  placeholder="" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">负责人:</label>
                                    <div class="layui-input-block">
                                        <input type="text"   name="nickname" value="{$_GET['nickname']}"  placeholder="" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">分公司:</label>
                                    <div class="layui-input-block">
                                        <select name="company_id">
                                            <option value=""></option>
                                            {foreach $Company as $v}
                                            {if $v.company_id<>1}
                                            <option value="{$v.company_id}" {$v.company_id==$_GET['company_id']?'selected':''}>{$v.company_name}</option>
                                            {/if}
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-md4 layui-col-md-offset4">
                                <div class='input-inline all-button-center pages-search-margin'>
                                    <button class="layui-btn nav-search">搜索</button>
                                </div>
                            </div>
                        </div>


                    </form>

                </div>
            </div>
            <div class="content-bg">
                <div  class="table-nont user-manage newBg-pageHeight" style="display: block;">
                    <table class="layui-table layui-form" id="language-table" style="table-layout:fixed;">
                        <thead>
                        <tr>
                            <th width="150">产品编号</th>
                            <th width="250">产品名称</th>
                            <th width="100">线路类型</th>
                            <th width="100">出发时间</th>
                            <th width="80">人数</th>
                            <th width="100">分公司</th>
                            <th width="100">负责人</th>
                            <th width="100">币种</th>
                            <th width="100">应付</th>
                            <th width="100">实付</th>
                            <th width="100">应收</th>
                            <th width="100">实收</th>
                            <th width="100">预计利润</th>
                            <th width="100">实际利润</th>
                            <th width="80">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {foreach  name='data' item='vo'}
                        <tr>
                            <th width="150">{$vo.team_product_number}</th>
                            <th>{$vo.team_product_name}</th>
                            <th>{$vo.route_type_name}</th>
                            <th><?=date('Y-m-d',$vo['begin_time']);?></th>
                            <th>{$vo.number_of_people}</th>
                            <th>{$vo.company_name}</th>
                            <th>{$vo.nickname}</th>
                            <th>{$vo.currency_name}</th>
                            <th>{$vo.cope_money|default=0}</th>
                            <th>{$vo.cope_receivable_money|default=0}</th>
                            <th>{$vo.receivable_money|default=0}</th>
                            <th>{$vo.payment_money|default=0}</th>
                            <th>{$vo.receivable_money-$vo.cope_money}</th>
                            <th>{$vo.payment_money-$vo.cope_receivable_money}</th>
                            <th><span style="{:action('index/auth/check_auth',['role_id'=>'264'])}"><a href="/finance/grossProfitStatisticsDetail?number={$vo.team_product_number}" class="layui-btn layui-btn-sm hover-edit layui-btn-primary">明细</a></span></th>
                        </tr>
                        {/foreach}
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="listButtom">
                <!--加载分页-->
                {include file='public/page' /}
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
{include file='public/foot_js' /}



<script>
    //JavaScript代码区域
    !function(){
        var layer = layui.layer ;
        var form = layui.form;
        var laydate = layui.laydate;
        var table=layui.table;
        var laytpl=layui.laytpl;

        //常规用法
        laydate.render({
            elem: '#sDate'
            ,lang: 'zn'
        });
        laydate.render({
            elem: '#eDate'
            ,lang: 'zn'
        });

    }();

</script>
</body>
</html>