<!DOCTYPE html>
<html>
<head>
	{include file='public/head' /}
  	<title></title>
 
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	
	<div class="layui-header">
	{include file='public/header' /}
	</div>
  
	 <div class="layui-side layui-bg-black">
	   <div class="layui-side-scroll">
	     <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		{include file='public/left_menu' /}
	   </div>
	 </div>
  
	<div class="layui-body">
	 
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
			<div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$language_tag.index_public_system}</a>
					<a>{$language_tag.index_system_showRoleManage_role_manage}</a>
					<a><cite>{$language_tag.index_system_showRoleManage_add_role}</cite></a>
				</span>
			</div>
		<form class="layui-form"  onSubmit="return AuthControllerAdd()">
	        <div class="layui-form-item class_1">
	          <label class="layui-form-label">{$language_tag.index_system_showAuthManage_controller_nickname}：</label>
	          <div class="layui-input-block">
	            <input name="company_name" id='controller_name'  lay-verify="required" placeholder="{$language_tag.index_system_showAuthManage_input_controller_name}" autocomplete="off" class="layui-input" type="text">
	          </div>
	        </div>
	        <div class="layui-form-item class_1">
	          <label class="layui-form-label">{$language_tag.index_system_showAuthManage_controller_chinese_name}：</label>
	          <div class="layui-input-block">
	            <input name="company_name" id='controller_explain'  lay-verify="required" placeholder="{$language_tag.index_system_showAuthManage_input_controller_name}" autocomplete="off" class="layui-input" type="text">
	          </div>
	        </div>
	        <div class="layui-form-item class_1">
	          <label class="layui-form-label">{$language_tag.index_system_showAuthManage_method_name}：</label>
	          <div class="layui-input-block">
	            <input name="company_name" id='function_name'  lay-verify="required" placeholder="{$language_tag.index_system_showAuthManage_input_method_name}" autocomplete="off" class="layui-input" type="text">
	          </div>
	        </div>	  
	        <div class="layui-form-item class_1">
	          <label class="layui-form-label">{$language_tag.index_system_showAuthManage_method_chinese_name}：</label>
	          <div class="layui-input-block">
	            <input name="company_name" id='function_explain'  lay-verify="required" placeholder="{$language_tag.index_system_showAuthManage_input_method_name}" autocomplete="off" class="layui-input" type="text">
	          </div>
	        </div>		        
       
	        <div class="layui-form-item">
	          <div class="layui-input-block">
	            <button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id='company_add'>{$language_tag.index_public_submit}</button>
	             <a href="/system/showRoleManage"><button type="button" class="layui-btn layui-btn-primary">{$language_tag.index_public_back}</button></a>
	          </div>
			</div>
		</form>
		</div>
	</div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
{include file='public/foot_js' /}

<script src='__STATIC__/javascript/system/auth.js'></script>

</body>
</html>