<!DOCTYPE html>
<html>
<head>
	{include file='public/head' /}
  	<title></title>
 
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
	{include file='public/header' /}
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		{include file='public/left_menu' /}
    </div>
  </div>
  
  <div class="layui-body">
  
		<!-- 内容主体区域 -->
		<div style="padding: 15px 15px 0px;">
		<div class="body-top">
			<div class='layui-form-item'>
			<span class="layui-breadcrumb" lay-separator="-">
				<a>{$language_tag.index_public_homepage}</a>
				<a>{$language_tag.index_public_system}</a>
			  	<a><cite>{$language_tag.index_system_showCompanyManage_company_manage}</cite></a>
			</span>
			</div>
			<br/>
			<div class='layui-block input-inline' >
				<form method='get' action='/system/showCompanyManage'>
					<div class='layui-input-inline'>
						<input type="text" name="company_name" value="{$Think.get.company_name}"  lay-verify="" placeholder="{$language_tag.index_system_showCompanyManage_input_company_name}" autocomplete="off" class="layui-input">
					</div>
					<div class='layui-input-inline'>
						<div class="layui-form">
							<select name="status" lay-verify="required">
								<option value="">-{$language_tag.index_source_showCruisesManage_search_status}-</option>
								<option value="1" selected>{$language_tag.index_public_show}</option>
								<option value="2" {if condition="$Think.get.status eq 2"}selected='selected' {/if}>{$language_tag.index_public_disabled}</option>
							</select>
						</div>
					</div>
					<div class='layui-button-inline layui-search-inline'>
						<button class="layui-btn nav-search">{$language_tag.index_public_search}</button>
					</div>
				</form>
				<div class='layui-button-inline'>
					<span style="{:action('index/auth/check_auth',['role_id'=>'278'])}"><a href='/system/showCompanyAdd'><button class="layui-btn nav-add">{$language_tag.index_system_showCompanyManage_add_company}</button></a></span>
				</div>
			</div>
			<hr><br>
		</div>
		<div class="table-nont user-manage pageHeight">
			<table class="layui-table layui-form" >
				<thead>
				<tr>
					<th>{$language_tag.index_system_showCompanyManage_id}</th>
					<th>{$language_tag.index_system_showCompanyManage_name}</th>
					<th>{$language_tag.index_system_showCompanyManage_linkman}</th>
					<th>{$language_tag.index_system_showCompanyManage_phone}</th>
					<th>{$language_tag.index_system_showCompanyManage_zone}</th>
					<th>{$language_tag.index_system_showCompanyManage_language}</th>
					<th>{$language_tag.index_public_status}</th>
					<th class="layui-table-width">{$language_tag.index_source_operation}</th>
				</tr>

				</thead>
				<tbody>
				{foreach name="data" item="vo" }
				<tr>
					<th class="company_id">{$vo.company_id}</th>
					<th>{$MultilingualAll['company-company_name-'.$vo.company_id.'-'.$Think.session.user.language_id][0]['translate']|default=$vo.company_name}</th>
					<th>{$vo.linkman}</th>

					<th>{$vo.phone}</th>
					<th>{$vo.country_name}</th>
					<th>{$vo.language_name}</th>
					<th>
						{if condition="in_array('279',$auth_id) OR $Think.session.user.role_id eq 1"}<input type="checkbox" {if condition="$vo.status eq 1"}checked=""{else/}{/if} name="open" lay-skin="switch" lay-filter="switchTest" lay-text="{$language_tag.index_public_show}|{$language_tag.index_public_disabled}">{else/}{if condition="$vo.status eq 1"}{$language_tag.index_public_show}{else}{$language_tag.index_public_disabled}{/if}{/if}
					</th>
					<th ><span style="{:action('index/auth/check_auth',['role_id'=>'279'])}"><a href='/system/showCompanyEdit/company_id/{$vo.company_id}'><button class="layui-btn layui-btn-sm hover-edit layui-btn-primary">{$language_tag.index_public_update}</button></a></span>
						<span style="{:action('index/auth/check_auth',['role_id'=>'280'])}"><a href='/system/showCompanyInfo/company_id/{$vo.company_id}'><button class="layui-btn layui-btn-sm hover-details layui-btn-primary">{$language_tag.index_public_info}</button></a></span></th>
				</tr>
				{/foreach}
				</tbody>
			</table>
		</div>

		<div class="listButtom">
			<!--加载分页-->
			{include file='public/page' /}
		</div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
{include file='public/foot_js' /}
<script>
	var layer = layui.layer;

	var form = layui.form;
	form.on('switch(switchTest)', function(data){
		var table_id = $(data.elem).parents("tr").children(".company_id").html();
		var table_id_name = "company_id";
		var table_name = "company";
		if(this.checked == true){
			var status = 1;
		}else{
			var status = 2;
		}

		$.ajax({
			type: "POST",
			url: '/index/changeStatus',
			data: {
				table_id:table_id,
				table_id_name:table_id_name,
				table_name:table_name,
				status:status,
			},
			success: function(data){
				//console.log(data);
				if(data.code!=200){
					layer.msg(data.msg);
					return false;
				}else if(data.code==200) {
					layer.msg('操作成功',{time:1,end : function(layero, index){

						}
					});
				}
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
				layer.msg('验证失败')
			}
		});
	});


</script>
</body>
</html>