<!DOCTYPE html>
<html>
<head>
	{include file='public/head' /}
  	<title>country-manage-add</title>
 
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	
	<div class="layui-header">
	{include file='public/header' /}
	</div>
  
	 <div class="layui-side layui-bg-black">
	   <div class="layui-side-scroll">
	     <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		{include file='public/left_menu' /}
	   </div>
	 </div>
  
	<div class="layui-body">
	 
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
			<div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$language_tag.index_public_homepage}</a>
					<a>{$language_tag.index_public_system}</a>
					<a>{$language_tag.index_system_showCountryManage_country_manage}</a>
					<a><cite>{$language_tag.index_system_showCountryManage_add_country}</cite></a>
				</span>
			</div>
			<br/>
			<br/>
			<div class="layui-field-box layui-row">
				<form class="layui-form layui-col-md4" onSubmit="return countryAdd()">
					<!--<label class="layui-form-label">国家：</label>-->
					<!--<div class="layui-input-block layui-form" >-->
					<!--<select id="country_name_d1" name="country_name_d1" lay-verify="required"  lay-filter="country_name_d1">-->
					<!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
					<!--<option value="0">自定义</option>-->
					<!--{foreach name="country_data_result" item='vo'}-->
					<!--<option value="{$vo.country_id}">{$vo.country_name}</option>-->
					<!--{/foreach}-->
					<!--</select>-->
					<!--</div>-->
					<br/>
					<div class="layui-form-item" id='country_name_zdy_d1_show'>
						<label class="layui-form-label input-required">{$language_tag.index_system_showCountryManage_country_name}：</label>
						<div class="layui-input-block">
							<input id="country_name_zdy_d1" name="country_name_zdy_d1" lay-verify="required" placeholder="{$language_tag.index_system_showCountryManage_input_country_name}" autocomplete="off" class="layui-input" type="text">
						</div>
						<!--<div class="layui-form-mid layui-word-aux">优先选择自定义国家，如为空则选择 下拉框</div>-->
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">{$language_tag.index_system_showCountryManage_country_code}：</label>
						<div class="layui-input-block">
							<input id="country_code" name="country_code" lay-verify="required" placeholder="{$language_tag.index_system_showCountryManage_input_country_code}" autocomplete="off" class="layui-input" type="text">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" id="currency_add_sp1_button">{$language_tag.index_public_submit}</button>
							<a href="javascript:history.back(-1)"><button type="button" class="layui-btn layui-btn-primary">{$language_tag.index_public_back}</button></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
{include file='public/foot_js' /}
<script src='__STATIC__/javascript/system/system.js'></script>
</body>
</html>