<!DOCTYPE html>
<html>
<head>
	{include file='public/head' /}
  	<title>layout 后台大布局 - Layui</title>
 
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	
	<div class="layui-header">
	{include file='public/header' /}
	</div>
  
	 <div class="layui-side layui-bg-black">
	   <div class="layui-side-scroll">
	     <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		{include file='public/left_menu' /}
	   </div>
	 </div>
  
	<div class="layui-body">
	 
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
			<div class='layui-form-item'>
		   		<span class="layui-breadcrumb" lay-separator="-">
					<a>{$language_tag.index_public_homepage}</a>
					<a>{$language_tag.index_public_system}</a>
			  		<a>{$language_tag.index_system_showJobManage_job_manage}</a>
					<a><cite>{$language_tag.index_system_showJobManage_add_job}</cite></a>
				</span>
			</div>
			<br><br>
			<div class="layui-row">
				<form class="layui-form layui-col-md4"  onSubmit="return jobAdd()">
					<div class="layui-form-item">
						<label class="layui-form-label input-required">{$language_tag.index_system_showJobManage_company_name}:</label>
						<div class="layui-input-block">
							<select {$Think.session.user.company_id!=1?'':''}  name="choose_company_id" id='job_company_id' lay-verify="required" lay-filter="system_company_id">
								<option value="" selected>- - {$language_tag.index_system_showJobManage_choose} - -</option>
								{foreach name='company_data_result'  item='vo'}
								<option value="{$vo.company_id}" {if condition="$vo.company_id eq  $Think.session.user.company_id"} {/if}>{$vo.company_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">{$language_tag.index_system_showJobManage_department}:</label>
						<div class="layui-input-block">
							<select name="department_id" id='department_id' lay-verify="required">


							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label input-required">{$language_tag.index_system_showJobManage_job_name}:</label>
						<div class="layui-input-block">
							<input name="job_name"   placeholder="{$language_tag.index_system_showJobManage_input_job_name}" autocomplete="off" class="layui-input" type="text" lay-verify="required">
						</div>
					</div>


					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn nav-submit" lay-submit="" lay-filter="formDemo" >{$language_tag.index_public_submit}</button>
							<!--<button type="reset" class="layui-btn layui-btn-primary">{$language_tag.index_product_showRouteTemplateManage_reload}</button>-->
							<a href="javascript:history.back(-1)"><button type="button" class="layui-btn layui-btn-primary">{$language_tag.index_public_back}</button></a>
						</div>
					</div>
				</form>
			</div>
		 
		</div>
	</div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
{include file='public/foot_js' /}

<script src='__STATIC__/javascript/system/system.js'></script>

</body>
</html>